<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="parkway.tools.nhibernate" type="Parkway.Tools.NHibernate.Cfg.NHibernateConfigurationSection, Parkway.Tools.NHibernate" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!--<connectionStrings>
    <add name="default" connectionString="Data Source=.;Initial Catalog=CBSPaymentEngine;User ID=sa;Password=password1;MultipleActiveResultSets=True" />
  </connectionStrings>-->
  <appSettings>
    <add key="EIRSBaseUrl" value="https://stage-api.eirsautomation.xyz/" />
    <add key="NetPayBaseUrl" value="http://parkwaydev.cloudapp.net/netpayng/app/" />
    <add key="MerchantSecret" value="bJt+i61Vo71Y4T8nIcjxZMMMYyByQ4YlAxrE/vSEWPlDdVMYHgFdVAsLbRDypDpzjki7LE+q8wSP0PiheC8vOQ==" />
    <add key="MerchantKey" value="4527ab2b-3651-4017-9399-358d01bb9558" />
    <add key="NetPayPaymentUrl" value="http://parkwaydev.cloudapp.net/netpay-ng/app/Home/InitiatePay" />
    <add key="NetPaymentNotificationReturnUrl" value="http://dev.eirspay/paymentnotification/notifypayment" />
    <!--<add key="NetPaymentNotificationReturnUrl" value="http://localhost:60019/paymentnotification/notifypayment" />-->
    <add key="AssessmentDetailsUrl" value="RevenueData/Assessment/DetailByRefNo/{refno}" />
    <add key="ServiceBillDetailsUrl" value="RevenueData/ServiceBill/DetailByRefNo/{refno}" />
    <add key="AssessmentRuleItemsUrl" value="RevenueData/Assessment/ItemDetail/{id}" />
    <add key="ServiceBillItemsUrl" value="RevenueData/ServiceBill/ItemDetail/{id}" />
    <add key="MDAServiceUrl" value="RevenueData/ServiceBill/ServiceDetail/{id}" />
    <add key="AssessmentRuleUrl" value="RevenueData/Assessment/RuleDetail/{id}" />
    <add key="SearchByBusinessName" value="TaxPayer/SearchMainBusinessOwner" />
    <add key="SearchByMobileNumber" value="TaxPayer/SearchTaxPayerByMobileNumber" />
    <add key="SearchByRIN" value="/TaxPayer/SearchTaxPayerByRIN" />
    <add key="RevenueSubStreamList" value="/ReferenceData/RevenueSubStream/List" />
    <add key="RevenueStreamList" value="/ReferenceData/RevenueStream/List" />
    <add key="TaxPayerTypeList" value="/ReferenceData/TaxPayerType/List" />
    <add key="EconomicActivitiesList" value="/ReferenceData/EconomicActivities/List" />
    <add key="LoginUrl" value="Account/Login" />
    <add key="EIRSAPILoginUsername" value="Parkway" />
    <add key="EIRSAPILoginPassword" value="I%aoo397" />
    <add key="EIRSAPILoginGrantType" value="password" />
    <add key="EIRSAPILoginContentType" value="application/x-www-form-urlencoded" />
    <add key="EIRSAddSettlementUrl" value="RevenueData/Settlement/Add" />
    <add key="SearchTaxPayerUrl" value="TaxPayer/SearchTaxPayer" />
    <add key="EIRSAPILoginAccept" value="application/json" />
    <add key="PayDirectReferenceServiceUrl" value="http://dev.eirspay/api/PayDirectReferenceRequest" />
    <!--<add key="PayDirectReferenceServiceUrl" value="http://localhost:60019/api/PayDirectReferenceRequest" />-->
    <add key="PayDirectPOAServiceUrl" value="http://dev.eirspay/api/PayDirectPOARequest" />
    <!--<add key="PayDirectPOAServiceUrl" value="http://localhost:60019/api/PayDirectPOARequest" />-->
    <add key="log4net.Config" value="CBSPayLogger.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="PayDirectIP1" value="http://dev.eirspay/" />
    <!--<add key="PayDirectIP1" value="http://localhost:60019/" />-->
    <!--live url 41.223.145.174 -->
    <add key="PayDirectIP2" value="41.223.145.179" />
    <!--live url 154.72.34.174 -->
    <add key="InterswitchQuicktellerPrefix" value="9999" />
    <!--test value-->
    <add key="QuicktellerPaymentCode" value="95101" />
    <!--test value-->
    <!--<add key="QuicktellerClientId" value="localhost" />-->
    <add key="QuicktellerClientId" value="http://dev.eirspay/" />
    <!--test value-->
    <add key="QuicktellerSecretKey" value="E9300DJLXKJLQJ2993N1190023" />
    <!--test value-->
    <add key="QuicktellerBaseRESTURL" value="https://pwq.sandbox.interswitchng.com/" />
    <add key="QuicktellerRESTRequestURL" value="api/v2/transaction/{requestReference}?isRequestRef=true" />
    <add key="QuicktellerCBSPayRedirectURL" value="http://dev.eirspay/PaymentNotification/QTPaymentNotification" />
    <!--<add key="QuicktellerCBSPayRedirectURL" value="http://localhost:60019/PaymentNotification/QTPaymentNotification" />-->
    <!--test value-->
    <!--<add key="QuicktellerCBSPayRedirectURL" value="http://localhost:60019/PaymentNotification/QTPaymentNotification" />  -->
    <!--test value-->
    <add key="StaffAdminEmailAddress" value="EIRSAdmin" />
    <add key="StaffAdminPassword" value="Password1" />
    <add key="ClientId" value="6817ab2b-4351-6017-5099-358F01bb9558" />
    <add key="ClientSecret" value="t+i61Vo71Y4T8nIcjxZMMMYy4YlAxrE/vSEWPlDdVMYHgFdVAsLbRDypDpzjki7LE" />
    <add key="UnsyncedPaymentUrl" value="UnsyncedPayment/List" />
    <!--<add key="AppBaseUrl" value="https://pinscher.eirsautomation.xyz/rsps/cbs-parkway/cbspay/"/>-->
    <add key="AppBaseUrl" value="http://dev.eirspay/" />
    <add key="UpdatePaymentUrl" value="Payment/Update" />
    <add key="TestMode" value="true" />
    <add key="TestInterSwitchUrl" value="https://pwq.sandbox.interswitchng.com/scripts/quickteller-checkout-min.js?v=" />
    <add key="LiveInterSwitchUrl" value="https://paywith.quickteller.com/scripts/quickteller-checkout-min.js?v=" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="fonts" path="*.woff" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="fonts2" path="*.woff2" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <parkway.tools.nhibernate configSource="Parkway.Nhibernate.Cfg.xml" />
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!--<system.net>
  <defaultProxy enabled="true" useDefaultCredentials="false">
    <proxy proxyaddress="http://127.0.0.1:8888" bypassonlocal="False" />
  </defaultProxy>
</system.net>-->
</configuration>