@model string

<div id="errorFlash" class="container alert-msg" style="@(string.IsNullOrEmpty(Model)?"display:none":"")">
    <small class="message"><span id="closeFlash" style="float:right;">&times;</span><small id="errorMsg" style="white-space: pre-wrap; padding:10px 10px 10px 10px">@Model</small></small>
</div>

<script>
    $("#closeFlash").click(function (e) {
        $("#errorFlash").fadeOut("fast");
    });
</script>