<p><b>Address:</b> Nasarawa State Board of Internal Revenue, BIR Office Opposite Emir’s Palace, Lafia, Nasarawa State.</p>
<p><b>Email:</b> info@nassarawaigr.ng</p>
<p><b>Phone number:</b> 0703 069 5875</p>