@model Parkway.CBS.Core.HelperModels.DirectAssessmentReportVM

<p class="top-info">You are <b>@Model.Category</b>, you are paying for <b>@Model.RevenueHeadName (mda - @Model.MDAName)</b>. kindly fill the rest of the form to proceed.</p>
