@using (Html.AppendModulePrefixToFormRouteName(Parkway.CBS.Client.Web.RouteName.PAYEWithSchedule.ShowScheduleResult, FormMethod.Post, new { @class = "confirmForm" }))
{
    @Html.AntiForgeryToken()
    <button class="btn generate-upload" disabled id="proceedbtn">Proceed to invoice</button>
}