<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="PayeeAssessmentCollection" type="PayeeProcessor.DAL.Model.PayeeAssessmentCollection, PayeeProcessor"/>
  </configSections>
  
  <connectionStrings>
    <add name="default" connectionString="Data Source=LAPTOP-LHEFB68C;Initial Catalog=CentralBillingSystem;User ID=sa;Password=password1;MultipleActiveResultSets=True"/>
  </connectionStrings>
 
  <PayeeAssessmentCollection>
    <AssessmentInterfaceItem name="AIRS_ABIA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 1%" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3% for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core"/>
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="NAIRS_NASARAWA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="LAGOS_LAGOS_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Lagos state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
    </AssessmentInterfaceItem>
  </PayeeAssessmentCollection>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
