<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HangFireSchedulerCollection" type="Parkway.CBS.HangfireScheduler.Configuration.HangFireSchedulerCollection, Parkway.CBS.HangfireScheduler" />
  </configSections>
  <HangFireSchedulerCollection>
    <HangFireSchedulerItem IsActive="true" TenantName="parkwaycbs" ConnectionString="Server=(local);initial catalog=CentralBillingSystem;User ID=sa;Password=password@1;Connection Timeout=100000" DashboardUrl="http://localhost:9095">
    </HangFireSchedulerItem>
    <HangFireSchedulerItem IsActive="true" TenantName="Osgof" ConnectionString="Server=(local);initial catalog=TestDB1;User ID=sa;Password=password@1;Connection Timeout=100000" DashboardUrl="http://localhost:9096">
    </HangFireSchedulerItem>
    <HangFireSchedulerItem IsActive="false" TenantName="Kaduna" ConnectionString="Server=(local);initial catalog=TestDB2;User ID=sa;Password=password@1;Connection Timeout=100000" DashboardUrl="http://localhost:9096">
    </HangFireSchedulerItem>
  </HangFireSchedulerCollection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
