<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="PayeeFileProcessorCollection" type="Parkway.CBS.PayeeProcessor.PayeeFileProcessorCollections.PayeeFileProcessorCollection, Parkway.CBS.PayeeProcessor"/>
    <section name="PayeeAssessmentCollection" type="Parkway.CBS.PayeeProcessor.DAL.Model.PayeeAssessmentCollection, Parkway.CBS.PayeeProcessor"/>
    <section name="parkway.tools.nhibernate" type="Parkway.Tools.NHibernate.Cfg.NHibernateConfigurationSection, Parkway.Tools.NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <PayeeFileProcessorCollection>
    <PayeeFileProcessor useDefault="true" Name="NassarawaPayeeFileProcessor">
      <Tenant Name="Nassarawa" value="Nassarawa"></Tenant>
      <Path directorytowatch="C:\Parkway\FileWatch" processedpath="C:\Parkway\ProcessedFileFolder" processingpath="C:\Parkway\Processing"></Path>
      <SessionFactory Name="Nassarawa_SessionFactory"  value="Nassarawa_SessionFactory"></SessionFactory>
    </PayeeFileProcessor>
    <PayeeFileProcessor useDefault="false" Name="NigerPayeeFileProcessor">
      <Tenant Name="Niger" value="Niger"></Tenant>
      <Path directorytowatch="C:\Parkway\Niger\FileWatch" processedpath="C:\Parkway\Niger\ProcessedFileFolder" processingpath="C:\Parkway\Niger\Processing"></Path>
      <SessionFactory Name="Niger_SessionFactory"  value="Niger_SessionFactory"></SessionFactory>
    </PayeeFileProcessor>
    <PayeeFileProcessor useDefault="false" Name="OSGOFPayeeFileProcessor">
      <Tenant Name="OSGOF" value="OSGOF"></Tenant>
      <Path directorytowatch="C:\Parkway\OSGOF\FileWatch" processedpath="C:\Parkway\OSGOF\ProcessedFileFolder" processingpath="C:\Parkway\OSGOF\Processing"></Path>
      <SessionFactory Name="OSGOF_SessionFactory"  value="OSGOF_SessionFactory"></SessionFactory>
    </PayeeFileProcessor>
  </PayeeFileProcessorCollection>

  <PayeeAssessmentCollection>
    <AssessmentInterfaceItem name="AIRS_ABIA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 1%" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3% for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core"/>
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="NAIRS_NASARAWA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="LAGOS_LAGOS_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Lagos state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
    </AssessmentInterfaceItem>
  </PayeeAssessmentCollection> 
  
  
  <parkway.tools.nhibernate>
    <SessionFactory name="Nassarawa_SessionFactory"  delay-initialization="false" schema-output-file="C:\Parkway\DB\GeneratedScripts\NassarawaCentralBillingSystem.sql" >
      <property name="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
      <property name="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <property name="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <property name="connection.connection_string" value="Server=.;initial catalog=CentralBillingSystem;User ID=sa;Password=password1" />
      <property name="connection.isolation" value="Serializable" />
      <property name="show_sql" value="false" />
      <MappingAssemblies>
        <mapping assembly="Parkway.CBS.PayeeProcessor" />
      </MappingAssemblies>
    </SessionFactory>

    <SessionFactory name="Niger_SessionFactory"  delay-initialization="false" schema-output-file="C:\Parkway\DB\GeneratedScripts\NigerCentralBillingSystem.sql" >
      <property name="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
      <property name="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <property name="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <property name="connection.connection_string" value="Server=.;initial catalog=NigerCentralBillingSystem;User ID=sa;Password=password1" />
      <property name="connection.isolation" value="Serializable" />
      <property name="show_sql" value="false" />
      <MappingAssemblies>
        <mapping assembly="Parkway.CBS.PayeeProcessor" />
      </MappingAssemblies>
    </SessionFactory>
    <SessionFactory name="OSGOF_SessionFactory"  delay-initialization="false" schema-output-file="C:\Parkway\DB\GeneratedScripts\NigerCentralBillingSystem.sql" >
      <property name="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
      <property name="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <property name="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <property name="connection.connection_string" value="Server=.;initial catalog=OSGOFCentralBillingSystem;User ID=sa;Password=password1" />
      <property name="connection.isolation" value="Serializable" />
      <property name="show_sql" value="false" />
      <MappingAssemblies>
        <mapping assembly="Parkway.CBS.PayeeProcessor" />
      </MappingAssemblies>
    </SessionFactory>
  </parkway.tools.nhibernate> 
  
  
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RootLogAppender" />
    </root>
    <!--====================================-->
    <appender name="RootLogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[CBS FileWatch Log Started] &#xA;" />
        <param name="Footer" value="[CBS FileWatch Log Stopped] &#xA;" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="CBSFileWatcherAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\log.filewatcher.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender> 
    <appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\nhibernatelog.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="FileWatcherLogger">
      <level value="ALL"/>
      <appender-ref ref="CBSFileWatcherAppender"/>
    </logger>

    <logger name="NHibernate">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" additivity="false" />
    </logger>
    <logger name="NHibernate.Loader.Loader" additivity="false">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" additivity="false" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
    <logger name="NHibernate.Cache.NoCacheProvider">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
    <logger name="NHibernate.AdoNet.AbstractBatcher">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
  </log4net>
</configuration>