<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PayDirectWebMock</title>
</head>
<body>
    <div>
        <form action="/Parkway.CBS.Web/ClientWebPayment/PayDirectPaymentResponse" method="post">
            apprAmt <input type="text" name="apprAmt" />
            cardNum <input type="text" name="cardNum" />
            payRef <input type="text" name="payRef" />
            retRef <input type="text" name="retRef" />
            txnref <input type="text" name="txnref" />
            <button type="submit">Pay</button>
        </form>
    </div>
</body>
</html>
