
<div class="row">
    <div class="col-sm-7">
        <div class="form-group">
            <label class="control-label">Enter RIN</label>
            <span class="pull-right"><a href=""> GOT NONE, GET ONE</a></span>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label class="control-label">Password</label>
            <span class="pull-right"><a href=""> Forgot Password</a></span>
            <input type="password" class="form-control">
        </div>

        <div class="form-group text-right">
            <button type="button" class="btn btn-theme">Login</button>
        </div>
    </div>
    <div class="col-sm-5"></div>
</div>