<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PayeeFileProcessorCollection" type="Parkway.CBS.PayeeProcessor.PayeeFileProcessorCollections, Parkway.CBS.PayeeProcessor"/>
    <section name="PayeeAssessmentCollection" type="Parkway.CBS.PayeeProcessor.DAL.Model.PayeeAssessmentCollection, Parkway.CBS.PayeeProcessor"/>
  </configSections>


  <PayeeFileProcessorCollection>
  <PayeeFileProcessor useDefault="false" Name="NassarawaPayeeFileProcessor">
    <Tenant Name="Nassarawa" value="Nassarawa"></Tenant>
    <Path directorytowatch="C:\Parkway\FileWatch" processedpath="C:\Parkway\ProcessedFileFolder" processingpath="C:\Parkway\Processing"></Path> 
    <SessionFactory Name="Nassarawa_SessionFactory"  value="Nassarawa_SessionFactory"></SessionFactory>
  </PayeeFileProcessor>
  <PayeeFileProcessor useDefault="false" Name="NigerPayeeFileProcessor">
    <Tenant Name="Niger" value="Niger"></Tenant>
    <Path directorytowatch="C:\Parkway\Niger\FileWatch" processedpath="C:\Parkway\Niger\ProcessedFileFolder" processingpath="C:\Parkway\Niger\Processing"></Path> 
    <SessionFactory Name="Niger_SessionFactory"  value="Niger_SessionFactory"></SessionFactory>
  </PayeeFileProcessor>
  <PayeeFileProcessor useDefault="false" Name="OSGOFPayeeFileProcessor">
    <Tenant Name="OSGOF" value="OSGOF"></Tenant>
    <Path directorytowatch="C:\Parkway\OSGOF\FileWatch" processedpath="C:\Parkway\OSGOF\ProcessedFileFolder" processingpath="C:\Parkway\OSGOF\Processing"></Path> 
    <SessionFactory Name="OSGOF_SessionFactory"  value="OSGOF_SessionFactory"></SessionFactory>
  </PayeeFileProcessor> 
</PayeeFileProcessorCollection>


  <PayeeAssessmentCollection>
    <AssessmentInterfaceItem name="AIRS_ABIA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 1%" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3% for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core"/>
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="NAIRS_NASARAWA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="LAGOS_LAGOS_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Lagos state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
    </AssessmentInterfaceItem>
  </PayeeAssessmentCollection>
  
  
</configuration>