<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="PayeeAssessmentCollection" type="PayeeProcessor.DAL.Model.PayeeAssessmentCollection, PayeeProcessor"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
 
  <connectionStrings>
    <add name="default" connectionString="Data Source=LAPTOP-LHEFB68C;Initial Catalog=CentralBillingSystem;User ID=sa;Password=password1;MultipleActiveResultSets=True"/>
  </connectionStrings>
  
  <PayeeAssessmentCollection>
    <AssessmentInterfaceItem name="AIRS_ABIA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 1%" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3% for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core"/>
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="NAIRS_NASARAWA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="LAGOS_LAGOS_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Lagos state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee"/>
    </AssessmentInterfaceItem>
  </PayeeAssessmentCollection>


  <!--<log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\\Parkway\\Logs\\PayeeFileLogger.log"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="200MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
   </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>

  </log4net>-->


  <log4net>

    <root>
      <level value="INFO" />
      <appender-ref ref="RootLogAppender" />
    </root>
    <!--====================================-->
    <appender name="RootLogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[CBS FileWatch Log Started] &#xA;" />
        <param name="Footer" value="[CBS FileWatch Log Stopped] &#xA;" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="CBSFileWatcherAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\log.filewatcher.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <!--<appender name="CashFlowAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Log\log.cashflow.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %thread %logger - %message%newline" />
    </layout>
  </appender>-->

    <appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\nhibernatelog.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <logger name="FileWatcherLogger">
      <level value="ALL"/>
      <appender-ref ref="CBSFileWatcherAppender"/>
    </logger>

    <logger name="NHibernate">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" additivity="false" />
    </logger>
    <logger name="NHibernate.Loader.Loader" additivity="false">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" additivity="false" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
    <logger name="NHibernate.Cache.NoCacheProvider">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" />
    </logger>
    <logger name="NHibernate.AdoNet.AbstractBatcher">
      <level value="OFF" />
      <appender-ref ref="NHibernateAppender" />
    </logger>

  </log4net>
  
  
  
   <appSettings>
     <add key="PayeeFilePath" value="C:\Parkway\FileWatch"/>
     <add key="ProcessingFilePath" value="C:\Parkway\Processing"/>
     <add key="ProcessedFilePath" value="C:\Parkway\ProcessedFileFolder"/>
   </appSettings>

</configuration>
