
@{
    ViewBag.Title = "RevenueBreakdownReport";
    Style.Require("CBS.MDA.Style.BootStrap");
    Style.Require("CBS.MDA.Style.RevenueHead");
    Style.Require("Style.Datepicker");
    Script.Require("CBS.MDA.BootstrapDatepicker.Script");
    Script.Require("CBS.MDA.Datepicker.Script");
}


<!--<h2>PaymentReportRevenueHead</h2>-->
<div class="container-fluid">
    <div class="row row1">
        <div class="col-md-12 text-center">
            <form class="form-inline">
                <div class="form-group">
                    <!--<label>From</label>-->
                    <input type="text" placeholder="From " id="pickyDate" class="form-control" />
                </div>
                <div class="form-group">
                    <!--<label>To</label>-->
                    <input type="text" placeholder="To" id="pickyDate2" class="form-control" />
                </div>
                <div class="form-group">
                    <div class="selectWrapper">
                        <select class="form-control selectBox" id="month">
                            <option>Select MDA</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="selectWrapper">
                        <select class="form-control selectBox" id="month">
                            <option>Select revenue head</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                DATE
                            </th>
                            <th>
                                MDA
                            </th>
                            <th>
                                INVOICE NUMBER
                            </th>
                            <th>
                                REVENUE HEAD
                            </th>
                            <th>
                                AMOUNT PAID
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                21-May-2017
                            </td>
                            <td>
                                MINISTRY OF LANDS AND HOUSING
                            </td>
                            <td style="word-wrap:break-word;">
                                <a href="javascript:void(0);">0032456</a>
                            </td>

                            <td>
                                CERTIFICATE OF OCCUPANCY
                            </td>
                            <td>
                                56,000
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="pull-right">Total Number of Invoices: 1</p>
                <p class="pull-right">Total Amount: &#X20A6; 20,000</p>
            </div>
        </div>
    </div>

</div>