
@{
    ViewBag.Title = "ViewChart";
    Style.Require("CBS.MDA.Style.BootStrap");
    Style.Require("CBS.MDA.Style.Chart");
    Script.Require("CBS.MDA.HighChart.Script");
    Script.Require("CBS.MDA.CustomScript.Script");
   
}
<div id="container" style="min-width:310px;height:400px;margin:0 auto;">

</div>
