@model Parkway.CBS.Core.HelperModels.DirectAssessmentReportVM

<p class="top-info">You are <b>@Model.Category</b> adding a schedule for <b>@Model.RevenueHeadName bill (MDA - @Model.MDAName)</b>. <br> Please confirm this schedule to proceed.</p>