<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HangFireSchedulerCollection" type="Parkway.CBS.HangfireScheduler.Configuration.HangFireSchedulerCollection, Parkway.CBS.HangfireScheduler" />
    <section name="parkway.tools.nhibernate" type="Parkway.Tools.NHibernate.Cfg.NHibernateConfigurationSection, Parkway.Tools.NHibernate" />
    <section name="cashFlowSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="MailSettings" type="Parkway.CBS.HangFireInterface.Configuration.MailSettings, Parkway.CBS.HangFireInterface" />
  </configSections>
  <HangFireSchedulerCollection>
    <HangFireSchedulerItem IsActive="true" TenantName="Default" ConnectionString="Server=(local);initial catalog=CentralBillingSystem;User ID=sa;Password=password@1;Connection Timeout=100000" DashboardUrl="http://localhost:8081">
    </HangFireSchedulerItem>
    <HangFireSchedulerItem IsActive="false" TenantName="YAT" ConnectionString="Server=(local);initial catalog=YAT;User ID=sa;Password=password@1;Connection Timeout=100000" DashboardUrl="http://localhost:8083">
    </HangFireSchedulerItem>
  </HangFireSchedulerCollection>

  <cashFlowSettings>
    <add key="BasePublic" value="http://127.0.0.1:80/CashFlow.API/v2/public/" />
    <add key="BaseAPI" value="http://127.0.0.1:80/CashFlow.API/v2/integration/" />
    <add key="RequestTimeOut" value="100000" />
    <add key="ThirdPartyRequestSecret" value="3!n913t0np4r%" />
    <add key="ThirdPartyRequestId" value="QWJpYTMvMTEvMjAxOCA3OjQwOjM4IFBN" />
    <add key="ThirdPartyAppName" value="CentralBillingSystem" />
  </cashFlowSettings>

  <MailSettings>
    <Config provider="gmail">
      <node key="SmtpHost" value="smtp.gmail.com" />
      <node key="Username" value="generaltest2015@gmail.com" />
      <node key="Password" value="ApplxPassword2019" />
      <node key="SmtpPort" value="587" />
    </Config>
    <Config provider="pulse">
      <node key="Username" value="" />
      <node key="Password" value="" />
      <node key="PulseOrigin" value="CBS.Default" />
      <node key="PulseURL" value="http://pulse.parkwayprojects.xyz/api" />
    </Config>
  </MailSettings>

  <appSettings>
    <add key="HangfireJobExpirationDay" value="15" />
    <add key="HangfireConnectionStringName" value="Default" />
    <add key="IndividualWithoutRentAmount" value="5000" />
    <add key="CorporateWithoutRentAmount" value="10000" />
    <add key="WithholdingTaxOnRentPercentage" value="5" />
    <add key="DevelopmentLevyAmount" value="1000" />
    <add key="NAGISGroupRevenueHeadId" value="499" />
    <add key="DevelopmentLevyExcludingTaxEntityCategory" value="[4,5]" />
    <add key="BatchInvoiceCallbackURL" value="http://dev.cbs/api/v1/invoice/batchresponse" />
    <add key="CashFlowBaseFileLocationForBatchInvoice" value="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\BatchInvoices" />
    <add key="POSSAPSettlementClientCode" value="RSS8Az5hUhnF+sTn2lkomg/Ryu4SGDU5rrgWtxg2guM=" />
    <add key="POSSAPSettlementSecret" value="ziudbCdzjyH/FBGDJcdoGJXndtAfQUl+5j5++18Q4FD6fL8+tPEqOZswnDLF" />
    <add key="ChunkSize" value="1000" />
	  <add key="SettlementEngineBaseURL" value="http://settlement.uat.cbs.ng/settlementapi/api/v1" />
	  <add key="HRSystemBaseURL" value="https://api.npprm.net" />
	  <add key="HRSystemUsername" value="POSSAP" />
	  <add key="HRSystemKey" value="3U4.4)9434=)@9345K9hjer34&amp;5%34" />
	  <add key="ChunkSize" value="1000" />
    <add key="SettlementEngineAuthTokenURL" value="http://settlement.uat.cbs.ng/settlementapi/api/v1/auth/gettoken" />
    <add key="SettlementEngineDirectSettlementURL" value="http://settlement.uat.cbs.ng/settlementapi/api/v1/rule/directsettlement" />
    <add key="PSSOfficerAllowanceDeduction" value="50" />
    <add key="PSSOfficerAllowanceMobilizationFee" value="50" />
    <add key="PSSOfficerAllowanceMobilizationBalanceFee" value="50" />
    <add key="MaxNumberOfWalletStatementsReturnedPerCall" value="20" />
	<add key="PSSDeploymentAllowanceRecurringInvoiceAPICallBack" value="http://pss.cbs/api/v1/pss/egs-regularization-recurring-invoice-payment-confirmation?requestToken=" />
    <add key="IsEmailEnabled" value="true" />
    <add key="IsSMSEnabled" value="false" />
    <add key="EmailProvider" value="2" />
    <add key="POSSAPBaseURL" value="http://pss.cbs" />
    <add key="PulseSMSTemplateName" value="POSSAP.SMS" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <parkway.tools.nhibernate configSource="Parkway.Nhibernate.Cfg.xml"></parkway.tools.nhibernate>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
