<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    Script.Require("CBS.MDA.Excel_Export.Script");

    Layout.Title = T("Police Officer Deployment Report").ToString();

    Style.Require("CBS.MDA.Style.BootStrap");
    Style.Require("Style.Datepicker");
    Style.Require("CBS.MDA.Style.Assesment");
    Style.Require("CBS.Report.Reset.Pagination");

    Script.Require("CBS.MDA.BootstrapDatepicker.Script");
    Script.Require("CBS.MDA.Bootstrap.Script");
    Script.Require("CBS.MDA.BillingDatepicker.Script");
    Script.Require("CBS.MDA.AssessmentDatePicker.Script");
    Script.Require("CBS.Report.Script").AtFoot();
}
<style>
    .textloader {
        position: absolute;
        left: 43%;
        top: 34%;
        color: #337ab7;
        display: none;
    }

    .profileloader {
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid rgb(20, 158, 196);
        width: 30px;
        height: 30px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
        position: absolute;
        margin: auto;
        left: 41%;
        top: 33%;
        display: none;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
</style>
<div class="zone zone-messages">
    <div class="message message-Error" id="errorFlash" style="display:none"></div>
</div>
@using (Html.BeginFormAntiForgeryPost())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">Start Date</b>
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-control" name="Start" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">End Date</b>
                    <div class="form-group">
                        <input type="text" placeholder="" class="form-control" name="End" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">Select State</b>
                    <div class="form-group">
                        <select class="form-control" name="SelectedState" id="state">
                            <option selected value="0">All States</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">Select LGA</b>
                    <div class="form-group">
                        <select class="form-control" name="SelectedLGA" id="lga">
                            <option selected value="0">All LGAs</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">Search Command</b>
                    <div class="form-group">
                        <input type="text" placeholder="Enter Command Here" class="form-control" name="command" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">Rank</b>
                    <div class="form-group">
                        <select class="form-control" name="SelectedRank" id="rank">
                            <option selected value="0">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">Gender</b>
                    <div class="form-group">
                        <select class="form-control" name="Gender" id="gender">
                            <option selected value="0">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">Deployment Status</b>
                    <div class="form-group">
                        <select class="form-control" name="DeploymentStatus" id="deploymentStatus">
                            <option selected value="0">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <b style="color:#e97d68;">&nbsp;</b>
                    <button class="btn btn-primary" style="width:100%">Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group" style="margin-top: 20px">
                    <button class="btn btn-success" style="margin-left: 10px" title="Export to excel">
                        <i class=" fa fa-file-excel-o"></i>
                        <span>Excel</span>
                    </button>
                    <button class="btn btn-danger" style="margin-left: 10px" title="Export to PDF">
                        <i class=" pdf fa fa-file-pdf-o"></i>
                        <span>PDF</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>
                                    NAME OF OFFICER
                                </th>
                                <th>
                                    SERVICE NUMBER
                                </th>
                                <th>
                                    RANK
                                </th>
                                <th>
                                    ADDRESS OF DEPLOYMENT
                                </th>
                                <th>
                                    INVOICE NO.
                                </th>
                                <th>
                                    CUSTOMER NAME
                                </th>
                                <th>
                                    START DATE
                                </th>
                                <th>
                                    END DATE
                                </th>
                                <th>
                                    DEPLOYMENT STATUS
                                </th>
                                <th>
                                    ACTION
                                </th>
                            </tr>
                        </thead>
                        <tbody style="background-color:#EEEEEE;">
                            <tr>
                                <td>James Jameson</td>
                                <td>05045</td>
                                <td>Inspector</td>
                                <td>35 ASDF street</td>
                                <td>100023456</td>
                                <td>John Clemmont</td>
                                <td>23/08/2020</td>
                                <td>30/09/2020</td>
                                <td>Ongoing</td>
                                <td><a href="@Url.Action("ReplaceOfficer","PoliceOfficerDeploymentReport")">Replace Officer</a> | <a href="@Url.Action("EndDeployment","PoliceOfficerDeploymentReport")">End Deployment</a> | <a href="@Url.Action("DeploymentHistory","PoliceOfficerDeploymentReport")">Deployment History</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

