<div class="notification-message" id="notificationMessage">
    <div class="notification-message-content">
        <div class="notification-message-content-header">
            <div class="notification-message-content-header-btn-row">
                <a href="#" id="backCaret" style="position:relative"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/dropdown-caret-blue.svg"))" class="img img-responsive" style="width:inherit;height:auto;transform:rotate(90deg);position:absolute;left:0;top:6px"> <b class="pl-3">Back</b></a>
            </div>
            <div class="notification-message-content-header-caption">
                <p class="notification-message-content-header-caption-title">POLICE CHARACTER CERTIFICATE DIASPORA</p>
                <p>12th September, 2022</p>
            </div>
        </div>

        <div class="notification-message-content-body">
            <p>
                Hi there, to continue your application process kindly pay your processing fee,
                you can click on the link below to view your invoice
            </p>
        </div>
    </div>
</div>
