<div class="notification-message-list-content" id="notificationMessageList">
    <div class="notification-message-list-header">
        <div class="container-fluid">
            <div class="col-md-9 no-padding"><h4>Notifications</h4></div>
            <div class="col-md-3 notification-message-list-header-actions">
                <div class="dropdown date-filter-container">
                    <input class="form-control date-filter dropdown-toggle" style="background-color:#FFFFFF" data-toggle="dropdown" type="text" placeholder="Filter By: Date" readonly />
                    <div>
                        <div class="dropdown-menu">
                            <div class="custom-dropdown-item no-padding">
                                <div class="row no-margin no-padding">
                                    <div class="col-md-6 no-margin no-padding">
                                        <input class="form-control pickyDate" placeholder="Start Date" name="from" />
                                    </div>
                                    <div class="col-md-6 no-margin no-padding">
                                        <input class="form-control pickyDate" placeholder="End Date" name="end" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn">Search</button>
            </div>
        </div>
    </div>
    <div class="notification-message-list-container">
        <table class="notification-message-list">
            <tr class="notification-message-list-item">
                <td class="notification-message-list-item-icon"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/Mail.svg"))" /></td>
                <td>
                    <div class="notification-message-list-item-content">
                        <div class="notification-message-list-item-header">POLICE CHARACTER CERTIFICATE</div>
                        <div class="notification-message-list-item-caption">
                            <p>Hi there, to continue your application process kindly pay your processing fee, you can click on the link below to view your invoice...</p>
                        </div>
                    </div>
                </td>
                <td class="notification-message-list-item-date">
                    <p>12th September, 2022</p>
                </td>
            </tr>
            <tr class="notification-message-list-item read">
                <td class="notification-message-list-item-icon"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/mail-open.svg"))" /></td>
                <td>
                    <div class="notification-message-list-item-content">
                        <div class="notification-message-list-item-header">POLICE CHARACTER CERTIFICATE</div>
                        <div class="notification-message-list-item-caption">
                            <p>Hi there, to continue your application process kindly pay your processing fee, you can click on the link below to view your invoice...</p>
                        </div>
                    </div>
                </td>
                <td class="notification-message-list-item-date">
                    <p>12th September, 2022</p>
                </td>
            </tr>
            <tr class="notification-message-list-item read">
                <td class="notification-message-list-item-icon"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/mail-open.svg"))" /></td>
                <td>
                    <div class="notification-message-list-item-content">
                        <div class="notification-message-list-item-header">POLICE CHARACTER CERTIFICATE</div>
                        <div class="notification-message-list-item-caption">
                            <p>Hi there, to continue your application process kindly pay your processing fee, you can click on the link below to view your invoice...</p>
                        </div>
                    </div>
                </td>
                <td class="notification-message-list-item-date">
                    <p>12th September, 2022</p>
                </td>
            </tr>
            <tr class="notification-message-list-item read">
                <td class="notification-message-list-item-icon"><img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/mail-open.svg"))" /></td>
                <td>
                    <div class="notification-message-list-item-content">
                        <div class="notification-message-list-item-header">POLICE CHARACTER CERTIFICATE</div>
                        <div class="notification-message-list-item-caption">
                            <p>Hi there, to continue your application process kindly pay your processing fee, you can click on the link below to view your invoice...</p>
                        </div>
                    </div>
                </td>
                <td class="notification-message-list-item-date">
                    <p>12th September, 2022</p>
                </td>
            </tr>
        </table>
    </div>
    <span name="profileloader" id="profileloader" class="profileloader" style="position:absolute;margin:auto;"></span>
</div>
