<div class="container-fluid show-extract-modal no-margin no-padding">
    <div class="row no-margin no-padding">
        <div class="container white-bg no-padding">
            <div class="container inner-white-container">
                <div class="container-fluid">
                    <div class="col-2 no-margin no-padding">
                        <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/npfLogo.svg"))" />
                    </div>
                    <div class="col-10 no-margin no-padding">
                        <h4>NIGERIA POLICE FORCE</h4>
                    </div>
                </div>
                <div class="container-fluid">
                    <h6>Date <span>12/04/2020</span></h6>
                </div>
                <div class="container-fluid">
                    <h4>POLICE CHARACTER CERTIFICATE</h4>
                    <p>This is to certify that according to the Criminal Records of the Nigerian Police Force, there is no trace of any conviction recorded in Nigeria against</p>
                    <p>Parkway Projects Ltd</p>
                </div>
                <div class="container-fluid">
                    <h6>Holder of <span>Nigerian</span> Passport No. <span>22289021</span></h6>
                    <h6>Issued in <span>Immigration Abuja</span> On <span>09/03/2020</span></h6>
                </div>
                <div class="container-fluid">
                    <p>This  Certificate is valid for three months and issued to</p>
                </div>
                <div class="container-fluid">
                    <p>the holder to travel to <span>Cameroon</span></p>
                </div>
                <h6>Signed by Registrar</h6>
            </div>
            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/deleteLight.svg"))" class="modal-close-btn" />
        </div>
    </div>
</div>