<div class="container-fluid edit-extract-modal no-margin no-padding">
    <div class="row no-margin no-padding">
        <div class="container white-bg no-padding">
            <div class="container inner-white-container">
                <div class="container-fluid">
                    <div class="col-2 no-margin no-padding">
                        <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/npfLogo.svg"))" />
                    </div>
                    <div class="col-10 no-margin no-padding">
                        <h4>NIGERIA POLICE FORCE</h4>
                    </div>
                </div>
                <div class="container-fluid">
                    <h6>Date </h6>
                    <input type="text" class="form-control" />
                </div>
                <div class="container-fluid">
                    <h4>POLICE CHARACTER CERTIFICATE</h4>
                    <p>This is to certify that according to the Criminal Records of the Nigerian Police Force, there is no trace of any conviction recorded in Nigeria against</p>
                    <center><input type="text" class="form-control" placeholder="Enter Full Name" /></center>
                </div>
                <div class="container-fluid">
                    <div class="row no-margin no-padding">
                        <div class="col no-margin no-padding">
                            <h6>Holder of</h6> <input type="text" class="form-control" placeholder="Enter Country" />
                        </div>
                        <div class="col no-margin no-padding">
                            <h6>Passport No. </h6> <input type="text" class="form-control" placeholder="Enter Passport No." />
                        </div>
                    </div>
                    <div class="row no-margin no-padding">
                        <div class="col no-margin no-padding">
                            <h6>Issued in</h6> <input type="text" class="form-control" placeholder="Enter Issue Location" />
                        </div>
                        <div class="col no-margin no-padding">
                            <h6>On </h6> <input type="text" class="form-control" placeholder="DD/MM/YYYY" />
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <p>This  Certificate is valid for three months and issued to</p>
                </div>
                <div class="container-fluid">
                    <p>the holder to travel to </p>
                    <input type="text" class="form-control" placeholder="Enter Country" />
                </div>
                <center><h6>Signed by Registrar</h6></center>

            </div>
            <div class="container-fluid login-modal-bottom-section no-margin no-padding">
                <div class="container">
                    <div class="row no-margin no-padding">
                        <div class="col no-padding">
                            <button type="button" class="btn btn-block cancel-extract-btn">Cancel</button>
                        </div>
                        <div class="col no-padding">
                            <button type="button" class="btn btn-block  save-template-btn">Save Template</button>
                        </div>
                    </div>
                </div>
            </div>
            @*<img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme,"/Styles/images/deleteLight.svg"))" class="modal-close-btn" />*@
        </div>
    </div>
</div>