@model System.String

<div class="container col-md-6 no-padding" id="sideNoteCollapsible">
    <div class="police-extract-form-container-details">
        <div class="container police-extract-details">
            <div class="container-fluid no-padding no-margin">
                <h4>Please Note:</h4>
            </div>
            <ul>
                @Html.Raw(Model)
            </ul>
        </div>
    </div>
</div>
