@model Parkway.CBS.Core.HelperModels.InvoiceProceedVM

<p class="top-info">You are <b>@Model.CategoryName</b> adding a schedule for <b>@Model.RevenueHeadName bill (MDA - @Model.MDAName)</b>. <br> Kindly fill the rest of the form to proceed.</p>