@model Parkway.CBS.Police.Core.VM.CharacterCertificateRequestVM

<div class="form-group">
    <label for="requestType">Request Types<span class="required-sym">*</span></label>
    <select required class="custom-select" name="RequestType" id="requestType">
        <option selected disabled value="">Select a request type</option>
        @if (Model.RequestTypes != null && Model.RequestTypes.Any())
        {
            foreach (var item in Model.RequestTypes)
            {
                <option value="@item.Id" @(Model.RequestType == item.Id ? "selected" : "")>@item.Name</option>
            }
        }
    </select>
    <small class="form-text text-muted">Select a request type.</small>
    <div class="container-fluid no-padding validation-msg">@Html.ValidationMessage("RequestType", "Selected request type value is not valid", new { @class = "tiny-caption", @style = "color:#ff0000" })</div>
</div>