<p><b>Address:</b> Nasarawa State Board of Internal Revenue, BIR Office Opposite Emir’s Palace, Lafia, Nasarawa State.</p>
<p><b>Email:</b> info@nassarawaigr.ng</p>
<p><b>For enquiries and invoice generation, call:</b> 09 623 3372, 09 220 3333</p>
<p><b>For other details call:</b> 0803 607 6041, 0903 294 2707</p>