/*
    CBS CSS
*/
.a-classname {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
        color: #1e5d7d;
        background: none !important;
        text-shadow: none !important;
        box-shadow: none !important;
    }

    .a-classname:hover {
        border: 0;
        color: #1e5d7d;
        background: none !important;
    }