<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="parkway.tools.nhibernate" type="Parkway.Tools.NHibernate.Cfg.NHibernateConfigurationSection, Parkway.Tools.NHibernate" />
    <section name="FileWatcherDirectoryCollection" type="Parkway.CBS.WindowService.Configuration.FileWatcherDirectoryCollection, Parkway.CBS.WindowService" />
    <section name="LGAMappingCollection" type="Parkway.CBS.ClientRepository.Repositories.ReferenceDataImpl.Configuration.LGAMappingCollection, Parkway.CBS.ClientRepository" />
    <section name="PayeeAssessmentCollection" type="Parkway.CBS.WindowService.Configuration.FileWatcherDirectoryCollection, Parkway.CBS.WindowService" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="HangFireSchedulerCollection" type="Parkway.CBS.HangFireInterface.Configuration.HangFireSchedulerCollection, Parkway.CBS.HangFireInterface" />
    <section name="IPPISSettlement" type="Parkway.CBS.Core.Configs.IPPISSettlement, Parkway.CBS.Core" />
  </configSections>
  <FileWatcherDirectoryCollection>
    <FileProcessor IsActive="true" Name="NasarawaIPPIS" ProcessorType="IPPIS">
      <Tenant Name="Default" value="Nasarawa" StateId="2" UnknownTaxPayerCodeId="10048"></Tenant>
      <Path directorytowatch="C:\SFTP\Detailed Payee Information\Nasarawa" processedCSVpath="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\IPPIS\Nasarawa\Summary\Processed" processedpath="C:\Parkway\Repository\FileWatch\ProcessedFileFolder\Detailed" processingpath="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\IPPIS\Nasarawa" summarypath="C:\SFTP\Payment Summary Information\Nasarawa"></Path>
      <ImplementationClass ClassName="Parkway.CBS.ClientFileServices.Implementations.IPPIS.IPPISFileProcessor, Parkway.CBS.ClientFileServices"></ImplementationClass>
    </FileProcessor>
    <FileProcessor IsActive="true" Name="NasarawaIPPISSummary" ProcessorType="IPPISSummary">
      <Tenant Name="Default" value="Nasarawa" StateId="2" UnknownTaxPayerCodeId="10048"></Tenant>
      <Path directorytowatch="C:\SFTP\Payment Summary Information\Nasarawa" processedCSVpath="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\IPPIS\Nasarawa\Summary\Processed" processedpath="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\IPPIS\Nasarawa\Summary\Processed" processingpath="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\IPPIS\Nasarawa\Summary\Processing" summarypath="C:\SFTP\Payment Summary Information\Nasarawa"></Path>
      <ImplementationClass ClassName="Parkway.CBS.ClientFileServices.Implementations.IPPIS.IPPISFileProcessor, Parkway.CBS.ClientFileServices"></ImplementationClass>
    </FileProcessor>
    <FileProcessor IsActive="true" Name="NasarawaDataEnumeration" ProcessorType="DataEnumeration">
      <Tenant Name="Default" value="Nasarawa" StateId="2" UnknownTaxPayerCodeId="10048"></Tenant>
      <Path directorytowatch="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\ReferenceData\Nasarawa\File" processedpath="C:\Parkway\Repository\FileWatch\ProcessedFileFolder" processingpath="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\Nasarawa\ParkwayCBS" summarypath="C:\SFTP\2018"></Path>
      <ImplementationClass ClassName="Parkway.CBS.ClientFileServices.Implementations.ReferenceData.ReferenceDataFileProcessor, Parkway.CBS.ClientFileServices"></ImplementationClass>
    </FileProcessor>
    <FileProcessor IsActive="true" Name="NasarawaNAGIS" ProcessorType="NAGIS">
      <Tenant Name="Default" value="Nasarawa" StateId="2" UnknownTaxPayerCodeId="10048"></Tenant>
      <Path directorytowatch="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\NagisData\Nasarawa\File" processedpath="C:\Parkway\Repository\FileWatch\ProcessedFileFolder" processingpath="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\NagisData\Nasarawa" summarypath="C:\SFTP\2018"></Path>
      <ImplementationClass ClassName="Parkway.CBS.ClientFileServices.Implementations.NAGIS.NAGISAdapter, Parkway.CBS.ClientFileServices"></ImplementationClass>
    </FileProcessor>
    <FileProcessor IsActive="true" Name="ParkwayNAGIS" ProcessorType="NAGIS">
      <Tenant Name="Default" value="Nasarawa" StateId="2"></Tenant>
      <Path directorytowatch="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\NagisData\Parkway CBS\File" processedpath="C:\Parkway\Repository\FileWatch\ProcessedFileFolder" processingpath="C:\Parkway\Repository\CBS\src\Orchard.Web\App_Data\Media\NagisData\Parkway CBS" summarypath="C:\SFTP\2018"></Path>
      <ImplementationClass ClassName="Parkway.CBS.ClientFileServices.Implementations.NAGIS.NAGISAdapter, Parkway.CBS.ClientFileServices"></ImplementationClass>
    </FileProcessor>
  </FileWatcherDirectoryCollection>

  <HangFireSchedulerCollection>
    <HangFireSchedulerItem IsActive="true" TenantName="Default" ConnectionString="Server=(local);initial catalog=CentralBillingSystem;User ID=sa;Password=password@1;Connection Timeout=100000">
    </HangFireSchedulerItem>
  </HangFireSchedulerCollection>

  <IPPISSettlement>
    <Tenant name="Nasarawa" value="Nasarawa" isActive="true" spacing="1">
      <Party name="Nasarawa" percentage="90">
        <Node value="Nasarawa" index="0" />
        <Node value="NASARAWA STATE" index="1" />
        <Node value="SETTLEMENT" index="2" />
        <Node value="SETTLEMENT" index="3" />
        <Node value="DEDUCTION NASARAWA TAX" index="4" />
        <Node value="NASARAWA STATE IGR POOL ACCOUNT" index="5" />
        <Node value="2033340223" index="6" />
        <Node value="011" index="7" />
        <Node value="::AMOUNT::" index="8" />
        <Node value="::NARRATION::" index="9" />
        <Node value="c" index="10" />
        <Node value="NASARAWA" index="11" />
      </Party>
      <Party name="FOURCORE" percentage="9" cap="">
        <Node value="FOURCORE" index="0" />
        <Node value="FOURCORE STATE" index="1" />
        <Node value="FOURCORE" index="2" />
        <Node value="FOURCORE" index="3" />
        <Node value="DEDUCTION FOURCORE TAX" index="4" />
        <Node value="FOURCORE TECHNOLOGY SOLUTIONS LIMITED(NASARAWA STATE REVENUE)" index="5" />
        <Node value="5191057014" index="6" />
        <Node value="214" index="7" />
        <Node value="::AMOUNT::" index="8" />
        <Node value="::NARRATION::" index="9" />
        <Node value="c" index="10" />
        <Node value="NASARAWA" index="11" />
      </Party>
      <Party name="SYSTEM SPECS" percentage="1" cap="">
        <Node value="REMITA" index="0" />
        <Node value="REMITA STATE" index="1" />
        <Node value="REMITA" index="2" />
        <Node value="REMITA" index="3" />
        <Node value="DEDUCTION REMITA TAX" index="4" />
        <Node value="SYSTEMSPECS LIMITED" index="5" />
        <Node value="0001624760" index="6" />
        <Node value="044" index="7" />
        <Node value="::AMOUNT::" index="8" />
        <Node value="::NARRATION::" index="9" />
        <Node value="c" index="10" />
        <Node value="NASARAWA" index="11" />
      </Party>
    </Tenant>
    <Tenant name="Niger" value="Niger" isActive="false" spacing="1">
      <Party name="NASARAWA" percentage="90">
        <Node value="NASARAWA" index="0" />
        <Node value="NASARAWA STATE" index="1" />
        <Node value="SETTLEMENT" index="2" />
        <Node value="SETTLEMENT" index="3" />
        <Node value="DEDUCTION NASARAWA TAX" index="4" />
        <Node value="NASARAWA STATE IGR POOL ACCOUNT" index="5" />
        <Node value="2033340223" index="6" />
        <Node value="011" index="7" />
        <Node value="::AMOUNT::" index="8" />
        <Node value="::NARRATION::" index="9" />
        <Node value="c" index="10" />
        <Node value="NASARAWA" index="11" />
      </Party>
      <Party name="FOURCORE" percentage="9" cap="">
        <Node value="FOURCORE" index="0" />
        <Node value="FOURCORE STATE" index="1" />
        <Node value="FOURCORE" index="2" />
        <Node value="FOURCORE" index="3" />
        <Node value="DEDUCTION FOURCORE TAX" index="4" />
        <Node value="FOURCORE TECHNOLOGY SOLUTIONS LIMITED(NASARAWA STATE REVENUE)" index="5" />
        <Node value="5191057014" index="6" />
        <Node value="214" index="7" />
        <Node value="::AMOUNT::" index="8" />
        <Node value="::NARRATION::" index="9" />
        <Node value="c" index="10" />
        <Node value="NASARAWA" index="11" />
      </Party>
      <Party name="SYSTEM SPECS" percentage="1" cap="">
        <Node value="REMITA" index="0" />
        <Node value="REMITA STATE" index="1" />
        <Node value="REMITA" index="2" />
        <Node value="REMITA" index="3" />
        <Node value="DEDUCTION REMITA TAX" index="4" />
        <Node value="SYSTEMSPECS LIMITED" index="5" />
        <Node value="0001624760" index="6" />
        <Node value="044" index="7" />
        <Node value="::AMOUNT::" index="8" />
        <Node value="::NARRATION::" index="9" />
        <Node value="c" index="10" />
        <Node value="NASARAWA" index="11" />
      </Party>
    </Tenant>
  </IPPISSettlement>

  <LGAMappingCollection>
    <LGACollection TenantName="NASARAWA">
        <LGA Name="Akwanga" LGADatabaseId="20" LGAFileId="1" />
        <LGA Name="Awe" LGADatabaseId="21" LGAFileId="2" />
        <LGA Name="Doma" LGADatabaseId="22" LGAFileId="3" />
        <LGA Name="Karu" LGADatabaseId="23" LGAFileId="4" />
        <LGA Name="Keana" LGADatabaseId="24" LGAFileId="5" />
        <LGA Name="Keffi" LGADatabaseId="25" LGAFileId="6" />
        <LGA Name="Kokona" LGADatabaseId="26" LGAFileId="7" />
        <LGA Name="Lafia" LGADatabaseId="27" LGAFileId="8" />
        <LGA Name="Nasarawa" LGADatabaseId="28" LGAFileId="9" />
        <LGA Name="Nasarawa-Eggon" LGADatabaseId="29" LGAFileId="10" />
        <LGA Name="Obi" LGADatabaseId="30" LGAFileId="11" />
        <LGA Name="Toto" LGADatabaseId="31" LGAFileId="12" />
        <LGA Name="Wamba" LGADatabaseId="32" LGAFileId="13" />
    </LGACollection>
  </LGAMappingCollection>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <parkway.tools.nhibernate configSource="Parkway.Nhibernate.Cfg.xml"></parkway.tools.nhibernate>

  <appSettings>
    <add key="IndividualTaxCategoryId" value="1" />
    <add key="CorporateTaxCategoryId" value="2" />
    <add key="HangfireConnectionStringName" value="Default" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
