<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="cashFlowSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="NIBSSEBillsSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="CBSTenantHandler" type="System.Configuration.NameValueSectionHandler" />
    <section name="SchedulerCollection" type="Parkway.Scheduler.Interface.Schedulers.SchedulerCollection, Parkway.Scheduler.Interface" />
    <section name="ScheduleImplementation" type="System.Configuration.NameValueSectionHandler" />
    <section name="SchedulerLoggerCollection" type="Parkway.Scheduler.Interface.Loggers.SchedulerLoggerCollection, Parkway.Scheduler.Interface" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="RefDataCollection" type="Parkway.CBS.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.ReferenceData" />
    <section name="PayeeAssessmentCollection" type="Parkway.CBS.Core.Payee.PayeeAssessmentCollection, Parkway.CBS.Core" />
    <section name="CBSStates" type="Parkway.CBS.Core.StateConfig.CBSStates, Parkway.CBS.Core" />
    <section name="IPPISConfig" type="Parkway.CBS.Core.Configs.IPPISConfig, Parkway.CBS.Core" />
    <section name="HangFireSchedulerCollection" type="Parkway.CBS.HangFireInterface.Configuration.HangFireSchedulerCollection, Parkway.CBS.HangFireInterface" />
  </configSections>

  <CBSStates>
    <StateConfig value="Parkway CBS" vendorCode ="parkway" fileSiteName="Default">
      <node key="CashflowCompanyCode" value="1" />
      <node key="UnreconciledRevenueHeadId" value="24" />
      <node key="CashflowVendorCode" value="parkway" />
      <node key="EbillsBillerID" value="279" />
      <node key="EbillsBillerName" value="IDEC" />
      <node key="EbillsProductID" value="420" />
      <node key="EbillsProductName" value="IDEC Collections" />
      <node key="MerchantCallBackURL" value="/account/invoice" />
      <node key="TCCFilePath" value="/App_data/Media/TCC" />
      <node key="SiteNameOnFile" value="Default" />
      <node key="IsTINUnique" value="true" />
      <node key="IsEmailEnabled" value="false" />
      <node key="IsSMSEnabled" value="false" />
      <node key="IsEnabledFormControlActionFilter" value="false" />
      <node key="BaseURL" value="http://dev.cbs" />
      <node key="GatewayFee" value="1.5%" />
      <node key="NetPayMerchantSecretId" value="test@payzone" />
      <node key="NetPayMerchantKey" value="PayzoneAPP" />
      <node key="NetPayMode" value="test" />
      <node key="NetPayColorCode" value="#00b05f" />
      <node key="NetPayCurrencyCode" value="NGN" />
      <!--<node key="NetPayMerchantSecretId" value="XEEQbGWN0cbIWb2cCMIV1R4A8VEFRICJ" />
      <node key="NetPayMerchantKey" value="NIBSSEbillsPay" />
      <node key="NetPayMode" value="live" />-->
      <node key="LogoPath" value="/Styles/images/logo.png" />
      <node key="MerchantSite" value="http://test.idec.ng:1900" />
      <node key="InfoGridExchangeValue" value="c70e984b-2c53-4a33-a8cc-2576d80baed1" />
      <node key="ReadycashExchangeKeyValue" value="8ksMVjp9GcE64FUWa7QiNOAqV9I2EAL9HbUHnX4GQT9ZqNWTG68uCo39Nurk" />
      <node key="ReceiptPrefix" value="PKWY" />
      <node key="StateDisplayName" value="STATE GOVERNMENT" />
	  <node key="DevelopmentLevyRevenueHeadID" value="1007" />
	  <node key="NibssEbillsSecretKey" value="d7c7882d3ff830j8" />
      <node key="NibssEbillsIV" value="ac2238380d7k7f74" />
      <node key="NibssResetEmail" value="generaltest2015@gmail.com" />
    </StateConfig>
    <StateConfig value="CBS Police" vendorCode ="cbspolice" fileSiteName="cbspolice">
	  <node key="CPCCR_DB_Command_Identifier" value="1" />
	  <node key="POSSAPSettlementClientCode" value="RSS8Az5hUhnF+sTn2lkomg/Ryu4SGDU5rrgWtxg2guM=" />
	  <node key="LatestBiometricAppVersion" value="1.0.0.0" />
	  <node key="UsingVersion" value="false" />
	  <node key="POSSAPSettlementSecret" value="ziudbCdzjyH/FBGDJcdoGJXndtAfQUl+5j5++18Q4FD6fL8+tPEqOZswnDLF" />
	  <node key="SettlementEnginePaymentCallbackURL" value="http://pss.cbs/api/v1/pss/account-wallet-payment-settlement-engine-call-back/callback" />
	  <node key="DeploymentAllowanceSettlementEnginePaymentCallbackURL" value="http://pss.cbs/api/v1/pss/deployment-allowance-settlement-engine-payment-callback" />
	  <node key="SettlementEngineAuthTokenURL" value="http://settlement.uat.cbs.ng/settlementapi/api/v1/auth/gettoken" />
	  <node key="SettlementEnginePaymentURL" value="http://settlement.uat.cbs.ng/settlementapi/api/v1/payment/nocompute" />
	  <node key="SettlementEngineAccountVerifyURL" value="http://settlement.uat.cbs.ng/settlementapi/api/v1/Account/verify" />
	  <node key="HRSystemBaseURL" value="https://api.npprm.net" />
	  <node key="HRSystemUsername" value="POSSAP" />
	  <node key="HRSystemKey" value="3U4.4)9434=)@9345K9hjer34&amp;5%34" />
      <node key="CashflowCompanyCode" value="2" />
      <node key="UnreconciledRevenueHeadId" value="24" />
      <node key="CashflowVendorCode" value="cbspolice" />
      <node key="EbillsBillerID" value="279" />
      <node key="EbillsBillerName" value="IDEC" />
      <node key="EbillsProductID" value="420" />
      <node key="EbillsProductName" value="IDEC Collections" />
      <node key="MerchantCallBackURL" value="/account/invoice" />
      <node key="SiteNameOnFile" value="CBSPolice" />
      <node key="AuthorizedApprovalNumbers" value="+2347064955741, +2347064955742" />
      <node key="IsTINUnique" value="true" />
      <node key="IsEmailEnabled" value="true" />
      <node key="IsSMSEnabled" value="false" />
      <node key="PulseSMSTemplateName" value="POSSAP.SMS" />
      <node key="SMSShortCode" value="73734" />
      <node key="BaseURL" value="http://pss.cbs" />
      <node key="RequestAPICallBack" value="http://pss.cbs/api/v1/pss/paymentconfirmation/" />
      <node key="RequestFeeAPICallBack" value="http://pss.cbs/api/v1/pss/request/fee-confirmation" />
      <node key="GatewayFee" value="1.5%" />
      <node key="NetPayMerchantSecretId" value="test@payzone" />
      <node key="NetPayMerchantKey" value="PayzoneAPP" />
      <node key="NetPayMode" value="test" />
      <node key="NetPayColorCode" value="#2F4CB0" />
      <node key="NetPayCurrencyCode" value="NGN" />
      <node key="PSSOfficerAllowanceDeduction" value="50" />
      <node key="PSSOfficerAllowanceMobilizationFee" value="50" />
      <node key="PSSOfficerAllowanceMobilizationBalanceFee" value="50" />
      <node key="PSSAllowanceSettlementRuleCode" value="POSSAPDA001" />
      <node key="PSSAllowanceCallBackURL" value="http://pss.cbs/api/v1/pss/notification/deployment-allowance-payment-status" />
      <node key="AdminBaseURL" value="admin.cbs" />
      <node key="ClientBaseURL" value="test.cbs" />
      <node key="PoliceMedianRankID" value="8" />
      <node key="LogoPath" value="/Themes/PoliceTheme/Styles/images/logo.png" />
      <node key="MerchantSite" value="http://test.idec.ng:1900" />
      <node key="InfoGridExchangeValue" value="c70e984b-2c53-4a33-a8cc-2576d80baed1" />
      <node key="ReadycashExchangeKeyValue" value="8ksMVjp9GcE64FUWa7QiNOAqV9I2EAL9HbUHnX4GQT9ZqNWTG68uCo39Nurk" />
      <node key="ReceiptPrefix" value="NPFPSS" />
      <node key="ExtractFilePath" value="/App_data/Media/Extract/" />
      <node key="RegistrationIdentificationFilePath" value="/App_data/Media/Registration/Identification/" />
      <node key="CharacterCertificateFilePath" value="/App_data/Media/CharacterCertificate/" />
      <node key="ApprovalNumberRegexPattern" value="\b^(PSS)(\d{14,})\b" />
      <node key="PCCBiometricCaptureDueDay" value="5" />
      <node key="PSSAdminSignaturesFilePath" value="/App_data/Media/POSSAP/Admin/Signatures/" />
      <node key="PSSAdminSignaturesFileSize" value="2048" />
      <node key="ValidateDocumentURL" value="http://pss.cbs/p/validate-document" />
      <node key="PhoneNumberTrimIndex" value="3" />
      <node key="SendPaymentNotification" value="false" />
      <node key="POSSAPAnalyticsEncryptionKey" value="0123456789ABCWBDCAFDTRGBDSCXSTUVWXYZ" />
      <node key="AnalyticsDashboardURL" value="https://analytics.possap.ng/" />
      <node key="PSSAdminBranchSubUserFilePath" value="/App_data/Media/POSSAP/Admin/EGS_Regularization/BranchSubUserFiles/" />
      <node key="PSSAdminBranchSubUserFileSize" value="2048" />
	  <node key="PSSAdminBranchOfficerFilePath" value="/App_data/Media/POSSAP/Admin/EGS_Regularization/BranchOfficerFiles/" />
	  <node key="PSSAdminBranchOfficerFileSize" value="2048" />
      <node key="PSSEGSRegularizationInvoiceGenerationPeriodMonthValue" value="9" />
      <node key="PSSEGSRegularizationInvoiceGenerationPeriodYearValue" value="2022" />
      <node key="PSSEGSGenerateRequestWithoutOfficersUploadFilePath" value="/App_data/Media/POSSAP/Admin/EGS_Regularization/GenerateRequestWithoutOfficersUpload/" />
      <node key="PSSEGSGenerateRequestWithoutOfficersUploadFileSize" value="2048" />
    </StateConfig>
    <StateConfig value="Inland Waterways" vendorCode ="inland" fileSiteName="InlandWaterways">
      <node key="CashflowCompanyCode" value="2" />
      <node key="UnreconciledRevenueHeadId" value="24" />
      <node key="EbillsBillerID" value="279" />
      <node key="EbillsBillerName" value="IDEC" />
      <node key="EbillsProductID" value="420" />
      <node key="EbillsProductName" value="IDEC Collections" />
      <node key="CallBackURL" value="http://dev.cbs/c/notify" />
      <node key="SiteNameOnFile" value="InlandWaterways" />
      <node key="IsTINUnique" value="true" />
      <node key="BaseURL" value="http://dev.cbs" />
      <node key="GatewayFee" value="1.5%" />
      <node key="NetPayMerchantSecretId" value="test@payzone" />
      <node key="NetPayMerchantKey" value="PayzoneAPP" />
      <node key="NetPayMode" value="test" />
      <node key="NetPayColorCode" value="#00b05f" />
      <node key="NetPayCurrencyCode" value="NGN" />
      <!--<node key="NetPayMerchantSecretId" value="XEEQbGWN0cbIWb2cCMIV1R4A8VEFRICJ" />
      <node key="NetPayMerchantKey" value="NIBSSEbillsPay" />
      <node key="NetPayMode" value="live" />-->
      <node key="LogoPath" value="/Styles/images/logo.png" />
      <node key="MerchantSite" value="https://www.idec.gov.ng/" />
      <node key="InfoGridExchangeValue" value="c70e984b-2c53-4a33-a8cc-2576d80baed1" />
      <node key="ReadycashExchangeKeyValue" value="8ksMVjp9GcE64FUWa7QiNOAqV9I2EAL9HbUHnX4GQT9ZqNWTG68uCo39Nurk" />
      <node key="ReceiptPrefix" value="INLWW" />
    </StateConfig>
    <StateConfig value="Kaduna">
      <node key="HasPayDirectWebIntegration" value="true" />
      <node key="CallBackURL" value="http://dev.cbs/c/notify" />
      <node key="SomethingElse" value="" />
      <node key="NetPayMerchantId" value="12" />
      <node key="NetPayMerchantSecretId" value="815f6a43-37d7-48c5-a098-f837410e2655" />
      <node key="NetPayMerchantSecretKey" value="0ZjSR0U814Wl3SsbWTNEF4CpDe0NGE2vl2Fitzlri8SVmB4O/rsZp4psO77HUewebrYwWaPLqzLpEnSIevMK2g==" />
      <node key="NetPayMerchantSecretKey" value="0ZjSR0U814Wl3SsbWTNEF4CpDe0NGE2vl2Fitzlri8SVmB4O/rsZp4psO77HUewebrYwWaPLqzLpEnSIevMK2g==" />
      <node key="InfoGridExchangeValue" value="c70e984b-2c53-4a33-a8cc-2576d80baed1" />
      <node key="ReadycashExchangeKeyValue" value="8ksMVjp9GcE64FUWa7QiNOAqV9I2EAL9HbUHnX4GQT9ZqNWTG68uCo39Nurk" />
    </StateConfig>
    <StateConfig value="Nasarawa">
      <node key="CallBackURL" value="" />
      <node key="SomethingElse" value="" />
    </StateConfig>
    <StateConfig value="Niger">
      <node key="CallBackURL" value="" />
      <node key="SomethingElse" value="" />
    </StateConfig>
    <StateConfig value="IDEC" vendorCode ="idec" fileSiteName="IDEC">
      <node key="CashflowCompanyCode" value="3"/>
      <node key="MerchantCallBackURL" value="/account/invoice"/>
      <node key="SiteNameOnFile" value="IDEC" />
      <node key="BaseURL" value="http://cbsidec.parkwayprojects.xyz" />
      <node key="GatewayFee" value="1.5%" />
      <node key="NetPayMerchantSecretId" value="KJUTXVVNEF9XRcJNFU2aNBKT7MY8AWML" />
      <node key="NetPayMerchantKey" value="IDEC" />
      <node key="NetPayMode" value="test" />
      <node key="NetPayColorCode" value="#00b05f" />
      <node key="NetPayCurrencyCode" value="NGN" />
      <node key="MerchantSite" value="http://test.idec.ng:1900" />
      <node key="LogoPath" value="/Themes/CBSTheme/Styles/images/logo.png" />
      <node key="InfoGridExchangeValue" value="c70e984b-2c53-4a33-a8cc-2576d80baed1"/>
      <node key="ReadycashExchangeKeyValue" value="8ksMVjp9GcE64FUWa7QiNOAqV9I2EAL9HbUHnX4GQT9ZqNWTG68uCo39Nurk"/>
      <node key="StateDisplayName" value=""/>
    </StateConfig>
    <StateConfig value="RSTVL" vendorCode ="rstvl" fileSiteName="RSTVL">
      <node key="CashflowCompanyCode" value="4"/>
      <node key="CallBackURL" value="http://dev.cbs/c/notify"/>
      <node key="SiteNameOnFile" value="VREG" />
      <node key="SomethingElse" value=""/>
      <node key="BaseURL" value="http://cbsvreg.parkwayprojects.xyz" />
      <node key="NetPayMerchantSecretId" value="VcHAO5DF75LF7GT7Z96XZW4SJFSUYON6" />
      <node key="NetPayMerchantKey" value="VREG" />
      <node key="NetPayMode" value="test" />
      <node key="NetPayColorCode" value="#00b05f" />
      <node key="NetPayCurrencyCode" value="NGN" />
      <node key="MerchantCallBackURL" value="/account/invoice"/>
      <node key="MerchantSite" value="https://v-reg-v2.firebaseapp.com" />
      <node key="LogoPath" value="/Themes/CBSTheme/Styles/images/logo.png" />
      <node key="InfoGridExchangeValue" value="c70e984b-2c53-4a33-a8cc-2576d80baed1"/>
      <node key="ReadycashExchangeKeyValue" value="8ksMVjp9GcE64FUWa7QiNOAqV9I2EAL9HbUHnX4GQT9ZqNWTG68uCo39Nurk"/>
      <node key="ReceiptPrefix" value="RSTVL"/>
      <node key="StateDisplayName" value="Radio Television Licensing System"/>
    </StateConfig>
    <StateConfig value="VREG" vendorCode ="vreg" fileSiteName="VREG">
      <node key="CashflowCompanyCode" value="4"/>
      <node key="CallBackURL" value="http://dev.cbs/c/notify"/>
      <node key="SiteNameOnFile" value="VREG" />
      <node key="SomethingElse" value=""/>
      <node key="BaseURL" value="http://cbsvreg.parkwayprojects.xyz" />
      <node key="NetPayMerchantSecretId" value="VcHAO5DF75LF7GT7Z96XZW4SJFSUYON6" />
      <node key="NetPayMerchantKey" value="VREG" />
      <node key="NetPayMode" value="test" />
      <node key="NetPayColorCode" value="#00b05f" />
      <node key="NetPayCurrencyCode" value="NGN" />
      <node key="MerchantCallBackURL" value="/account/invoice"/>
      <node key="MerchantSite" value="https://v-reg-v2.firebaseapp.com" />
      <node key="LogoPath" value="/Themes/CBSTheme/Styles/images/logo.png" />
      <node key="InfoGridExchangeValue" value="c70e984b-2c53-4a33-a8cc-2576d80baed1"/>
      <node key="ReadycashExchangeKeyValue" value="8ksMVjp9GcE64FUWa7QiNOAqV9I2EAL9HbUHnX4GQT9ZqNWTG68uCo39Nurk"/>
    </StateConfig>
  </CBSStates>

  <PayeeAssessmentCollection>
    <AssessmentInterfaceItem name="AIRS_ABIA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee" />
      <AssessmentInterface Name="Parkway ETCC" Value="ParkwayETCC" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ETCC.ETCCAdapter, Parkway.CBS.Payee" />
      <AssessmentInterface Name="ABIA state 1%" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee" />
      <AssessmentInterface Name="ABIA state 3% for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core" />
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="NIRS_NASARAWA_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee" />
      <AssessmentInterface Name="Parkway ETCC" Value="ParkwayETCC" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ETCC.ETCCAdapter, Parkway.CBS.Payee" />
      <AssessmentInterface Name="Nasarawa state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee" />
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee" />
    </AssessmentInterfaceItem>
    <AssessmentInterfaceItem name="LAGOS_LAGOS_AssessmentCollection">
      <AssessmentInterface Name="Parkway" Value="Parkway" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee" />
      <AssessmentInterface Name="Nasarawa state 1 Percent" Value="NS2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee" />
      <AssessmentInterface Name="Nasarawa state 3 Percent for 300k up" Value="NSA2" IsActive="true" ClassName="Parkway.CBS.Payee.PayeeAdapters.ParkwayPayeeAdapter, Parkway.CBS.Payee" />
    </AssessmentInterfaceItem>
  </PayeeAssessmentCollection>

  <HangFireSchedulerCollection>
    <HangFireSchedulerItem IsActive="true" TenantName="Default" ConnectionString="Server=(local);initial catalog=CentralBillingSystem;User ID=sa;Password=password@1;Connection Timeout=100000">
    </HangFireSchedulerItem>
  </HangFireSchedulerCollection>

  <RefDataCollection>
    <RefDataItem name="NPFPSS_ABUJA_RefDataCollection">
      <RefData Name="Mock" Type="Mock" />
      <RefData Name="ERegistry" Type="Parkway" ClassName="">
        <Endpoint key="GetTaxEntitiesURL" url="20001"></Endpoint>
        <Endpoint key="GetTaxEntityURL" url="20001"></Endpoint>
        <Endpoint key="GetActiveTaxEntitiesPerRevenueHead" url="20001"></Endpoint>
        <Endpoint key="GetTaxEntityPerRevenueHead" url="20001"></Endpoint>
      </RefData>
      <RefData Name="AIRSAdapter" Type="Adapter" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core" />
    </RefDataItem>
    <RefDataItem name="AIRS_ABIA_RefDataCollection">
      <RefData Name="Mock" Type="Mock" />
      <RefData Name="ERegistry" Type="Parkway" ClassName="">
        <Endpoint key="GetTaxEntitiesURL" url="20001"></Endpoint>
        <Endpoint key="GetTaxEntityURL" url="20001"></Endpoint>
        <Endpoint key="GetActiveTaxEntitiesPerRevenueHead" url="20001"></Endpoint>
        <Endpoint key="GetTaxEntityPerRevenueHead" url="20001"></Endpoint>
      </RefData>
      <RefData Name="AIRSAdapter" Type="Adapter" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core" />
    </RefDataItem>
    <RefDataItem name="LAGOS_LAGOS_RefDataCollection">
      <RefData Name="Mock" Type="Mock" />
      <RefData Name="ERegistry" Type="Parkway" ClassName="">
        <Endpoint key="GetTaxEntitiesURL" url="20001"></Endpoint>
        <Endpoint key="GetTaxEntityURL" url="20001"></Endpoint>
        <Endpoint key="GetActiveTaxEntitiesPerRevenueHead" url="20001"></Endpoint>
        <Endpoint key="GetTaxEntityPerRevenueHead" url="20001"></Endpoint>
      </RefData>
      <RefData Name="LIRSAdapter" Type="Adapter" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core" />
    </RefDataItem>
    <RefDataItem name="Edo_RefDataCollection">
      <RefData Name="Mock" Type="Mock" />
      <RefData Name="ERegistry" Type="Parkway" ClassName="">
        <Endpoint key="GetTaxEntitiesURL" value="20001"></Endpoint>
        <Endpoint key="GetTaxEntityURL" value="20001"></Endpoint>
        <Endpoint key="GetActiveTaxEntitiesPerRevenueHead" value="20001"></Endpoint>
        <Endpoint key="GetTaxEntityPerRevenueHead" value="20001"></Endpoint>
      </RefData>
      <RefData Name="EIRSAdapter" Type="Adapter" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core" />
    </RefDataItem>
    <RefDataItem name="INLANDWATERWAYS_BAYELSA_RefDataCollection">
      <RefData Name="Mock" Type="Mock" />
      <RefData Name="ERegistry" Type="Parkway" ClassName="">
        <Endpoint key="GetTaxEntitiesURL" value="20001"></Endpoint>
        <Endpoint key="GetTaxEntityURL" value="20001"></Endpoint>
        <Endpoint key="GetActiveTaxEntitiesPerRevenueHead" value="20001"></Endpoint>
        <Endpoint key="GetTaxEntityPerRevenueHead" value="20001"></Endpoint>
      </RefData>
      <RefData Name="EIRSAdapter" Type="Adapter" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core" />
    </RefDataItem>
    <RefDataItem name="POLICE_ABUJA_RefDataCollection">
      <RefData Name="Mock" Type="Mock" />
      <RefData Name="ERegistry" Type="Parkway" ClassName="">
        <Endpoint key="GetTaxEntitiesURL" value="20001"></Endpoint>
        <Endpoint key="GetTaxEntityURL" value="20001"></Endpoint>
        <Endpoint key="GetActiveTaxEntitiesPerRevenueHead" value="20001"></Endpoint>
        <Endpoint key="GetTaxEntityPerRevenueHead" value="20001"></Endpoint>
      </RefData>
      <RefData Name="EIRSAdapter" Type="Adapter" ClassName="Parkway.CBS.Core.ReferenceData.Configuration.RefDataCollection, Parkway.CBS.Core" />
    </RefDataItem>
  </RefDataCollection>

  <SchedulerCollection>
    <SchedulerItem Name="Abia_BillingScheduler" Active="true" Endpoint="http://temp.cbs/api/v1/integration/schedule" ClientToken="QWJpYTIvMjIvMjAxOCA2OjQ1OjM4IFBN" ClientSecret="3FW7uESMMDEa/gEIhf5W3WkkJqjk5I1iN0QWat0I0h2lBTlVuUTIZvC7gkq0">
      <add key="quartz.scheduler.instanceName" value="Abia_BillingScheduler" />
      <add key="quartz.scheduler.instanceId" value="AUTO" />
      <add key="quartz.threadPool.threadCount" value="10" />
      <add key="quartz.threadPool.threadPriority" value="Normal" />
      <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"></add>
      <add key="quartz.jobStore.misfireThreshold" value="60000" />
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
      <add key="quartz.jobStore.useProperties" value="true" />
      <add key="quartz.jobStore.dataSource" value="default" />
      <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
      <add key="quartz.jobStore.clustered" value="false" />
      <add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.SimpleSemaphore, Quartz" />
      <add key="quartz.jobStore.selectWithLockSQL" value="SELECT * FROM {0} LOCKS UPDLOCK WHERE LOCK_NAME = @ lockName" />
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
      <add key="quartz.dataSource.default.connectionString" value="Data Source=(local);Initial Catalog=CentralBillingSystemQuartzDatabase;User ID=sa;Password=password01" />
      <add key="quartz.dataSource.default.provider" value="SqlServer" />
      <add key="quartz.serializer.type" value="binary" />
    </SchedulerItem>
    <SchedulerItem Name="KADIRS_BillingScheduler" Active="true" Endpoint="http://temp.cbs/api/v1/integration/schedule" ClientToken="QWJpYTIvMjIvMjAxOCA2OjQ1OjM4IFBN" ClientSecret="3FW7uESMMDEa/gEIhf5W3WkkJqjk5I1iN0QWat0I0h2lBTlVuUTIZvC7gkq0">
      <add key="quartz.scheduler.instanceName" value="KADIRS_BillingScheduler" />
      <add key="quartz.scheduler.instanceId" value="AUTO" />
      <add key="quartz.threadPool.threadCount" value="10" />
      <add key="quartz.threadPool.threadPriority" value="Normal" />
      <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"></add>
      <add key="quartz.jobStore.misfireThreshold" value="60000" />
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
      <add key="quartz.jobStore.useProperties" value="true" />
      <add key="quartz.jobStore.dataSource" value="default" />
      <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
      <add key="quartz.jobStore.clustered" value="false" />
      <add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.SimpleSemaphore, Quartz" />
      <add key="quartz.jobStore.selectWithLockSQL" value="SELECT * FROM {0} LOCKS UPDLOCK WHERE LOCK_NAME = @ lockName" />
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
      <add key="quartz.dataSource.default.connectionString" value="Data Source=(local);Initial Catalog=CentralBillingSystemQuartzDatabase;User ID=sa;Password=password01" />
      <add key="quartz.dataSource.default.provider" value="SqlServer" />
      <add key="quartz.serializer.type" value="binary" />
    </SchedulerItem>
    <SchedulerItem Name=" INLAND_BillingScheduler" Active="true" Endpoint="http://temp.cbs/api/v1/integration/schedule" ClientToken="QWJpYTIvMjIvMjAxOCA2OjQ1OjM4IFBN" ClientSecret="3FW7uESMMDEa/gEIhf5W3WkkJqjk5I1iN0QWat0I0h2lBTlVuUTIZvC7gkq0">
      <add key="quartz.scheduler.instanceName" value="KADIRS_BillingScheduler" />
      <add key="quartz.scheduler.instanceId" value="AUTO" />
      <add key="quartz.threadPool.threadCount" value="10" />
      <add key="quartz.threadPool.threadPriority" value="Normal" />
      <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"></add>
      <add key="quartz.jobStore.misfireThreshold" value="60000" />
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
      <add key="quartz.jobStore.useProperties" value="true" />
      <add key="quartz.jobStore.dataSource" value="default" />
      <add key="quartz.jobStore.tablePrefix" value="QRTZ_" />
      <add key="quartz.jobStore.clustered" value="false" />
      <add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.SimpleSemaphore, Quartz" />
      <add key="quartz.jobStore.selectWithLockSQL" value="SELECT * FROM {0} LOCKS UPDLOCK WHERE LOCK_NAME = @ lockName" />
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
      <add key="quartz.dataSource.default.connectionString" value="Data Source=(local);Initial Catalog=CentralBillingSystemQuartzDatabase;User ID=sa;Password=password01" />
      <add key="quartz.dataSource.default.provider" value="SqlServer" />
      <add key="quartz.serializer.type" value="binary" />
    </SchedulerItem>
  </SchedulerCollection>

  <SchedulerLoggerCollection>
    <LoggerItem Name="Serilog" Enabled="true" LogPath="C:\Parkway\CentralBillingSystem\src\Orchard.Web\App_Data\Logs"></LoggerItem>
    <LoggerItem Name="Log4Net" Enabled="false" LogPath=""></LoggerItem>
  </SchedulerLoggerCollection>

  <ScheduleImplementation>
    <add key="Quartz" value="true" />
    <!--<add key="HangFire" value="false"/>-->
  </ScheduleImplementation>



  <appSettings>
    <add key="ReadyCashExchangeKey" value="8ksMVjp9GcE64FUWa7QiNOAqV9I2EAL9HbUHnX4GQT9ZqNWTG68uCo39Nurk" />
    <add key="HashKey" value="Un2377QiNOAq4FUT9ZV9Hrbrk4GQWa3I2HnX6yEAL99t10nksM8NVjpqNuuWTGk86Co39G9cE" />
    <add key="SelfAssignedEncryptionKeyValue" value="readycash001##" />
    <add key="webpages:Enabled" value="false" />
    <add key="webpages:Version" value="3.0.3" />
    <add key="log4net.Config" value="Config\log4net.config" />
    <add key="owin:AppStartup" value="Orchard.Owin.Startup, Orchard.Framework" />
    <add key="PaymentURL" value="http://parkwaydev.cloudapp.net/netpay-ng/app/Home/InitiatePay" />
    <!--<add key="CallBackURL" value="http://192.168.1.17:8090/api/v1/payment/notification"/>-->
    <add key="CallBackURL" value="http://dev.cbs/c/notify" />
    <add key="EncryptionSecret" value="3n2ry9t10nk37" />
    <add key="AESEncryptionSecret" value="AAQQAwQFBgcICQoLDA0ODw==" />
    <add key="BaseUrl" value="http://192.168.1.14/CashFlow.API/v2/integration/" />
    <add key="MultipleCompanyCreationUrl" value="company/parkway/create/multiple" />
    <add key="CompanyCreationUrl" value="company/parkway/create" />
    <add key="ProductCreationUrl" value="product/add" />
    <add key="MultipleProductCreationUrl" value="product/add/multiple" />
    <add key="FetchProductUrl" value="product/bycode" />
    <add key="CreateInvoiceUrl" value="invoice/add" />
    <add key="CreateCustomerUrl" value="customer/add" />
    <add key="RequestTimeOut" value="" />
    <add key="NetPayPaymentURL" value="http://parkwaydev.cloudapp.net/netpay-ng/app/Home/InitiatePay" />
    <!--<add key="PayDirectWebPostURL" value="https://sandbox.interswitchng.com/webpay/pay" />-->
    <add key="PayDirectWebPostURL" value="http://dev.cbs/Parkway.CBS.Web.Payment/ClientWebPayment/PayDirectWebMock" />
    <!--<add key="PayDirectWebGetTransactionURL" value="https://sandbox.interswitchng.com/webpay/api/v1/gettransaction.json" />-->
    <add key="PayDirectWebGetTransactionURL" value="http://localhost:8900/pdw-mock" />
    <add key="PaymentNotificationResponseCode" value="0000" />
    <add key="DownloadTemplatesConfigFile" value="~/DownloadExporterSettings.xml" />
    <add key="WithholdingTaxOnRentRevenueHeadID" value="6" />
    <add key="DevelopmentLevyRevenueHeadID" value="1007" />
    <add key="NetPaySuccessCode" value="00" />
    <add key="NetPayURL" value="https://staging.paywithbank3d.com/api/payment/verify" />
    <add key="HangfireConnectionStringName" value="Default" />
    <add key="VerificationCodeExpiryInMinutes" value="60" />
    <add key="VerificationResendCodeLimit" value="1" />
    <add key="RetrieveEmailVerificationResendCodeLimit" value="5" />
    <add key="AccountWalletPaymentVerificationResendCodeLimit" value="5" />
    <add key="EmailProvider" value="2" />
    <add key="PayeApiBatchlimit" value="50" />
    <add key="PayeExcelSaveChunkSize" value="2000" />
    <add key="PayeExcelFileSize" value="2048" />
    <add key="OK" value="00" />
    <add key="ContactUsEmailAddress" value="info@possap.gov.ng" />
    <add key="InternalError" value="96" />
	<add key="FourCoreBVNValidationEndpoint" value="https://interesting-haslett.52-41-168-181.plesk.page/api/test/validate-bvn" />
	<add key="FourCoreBVNValidationUsername" value="example@sample.com" />
	<add key="FourCoreBVNValidationSecret" value="ababababab" />
    <add key="BVNValidationEndpoint" value="https://app.bank3d.ng/Vaps.API/api/v2/utility/verifyBvn" />
    <add key="TINValidationEndpoint" value="https://apps.firs.gov.ng/apis/tinvalidation" />
    <add key="TINValidationUsername" value="finance" />
    <add key="TINValidationPassword" value="Min7!%$" />
    <add key="NINValidationUsername" value="usertest1a" />
    <add key="NINValidationPassword" value="abc12345" />
    <add key="NINValidationOrgid" value="1101" />
    <add key="NINValidationExponent" value="113621440243785421499955306133900099987164309503876199371900611085975699194905621710442876441889195302451922443555354266645737454327409509639333989384262385729949578624044207610948821627355876693570108394899808569346703874513552461157771585312437842555207875241788331401870311503661882350734256428011446552231" />
    <add key="NINValidationModulus" value="99656440840574176563305385521896948249485597887868788305755844436736813735716889384156081404108856785411701458057572807701609821377138238971482595936817351313377639458003034637351529602924774615106031875065736828376549082962569871367654360928995574432638495308492887000005021125506027838956077501182295786099" />
    <add key="NINValidationRESTEndpoint" value="http://52.15.120.183/verify.php" />
	  <add key="NINValidationRESTEndpointKey" value="ZebraW3ta$" />
	  <add key="NINPCCRevalidationIntervalDays" value="10" />
	  <add key="DoPCCOption" value="" />
	  <!--<add key="NetPayURL" value="https://paywithbank3d.com/api/payment/verify" />-->
    <!-- Optional additional comma-separated list of folders for Modules or Themes -->
    <!-- Note: Themes that are not under ~/Themes/ should have web.config with appropriate access permissions. -->

    <!--
        <add key="Modules" value="~/Ibn_Modules,~/Customer1/Modules" />
        <add key="Themes" value="~/Themes/MoreThemes,~/Customer1/Themes" />
        -->
  </appSettings>

  <NIBSSEBillsSettings>
    <add key="ErrorCode" value="9999" />
    <add key="FormatError" value="30" />
    <add key="SessionID404" value="15" />
    <add key="BankCode404" value="16" />
    <add key="OK" value="00" />
    <add key="BillerMismatch" value="03" />
    <add key="InternalError" value="96" />
    <add key="SecurityViolation" value="63" />
    <add key="ThirdPartyAppName" value="CentralBillingSystem" />
  </NIBSSEBillsSettings>

  <cashFlowSettings>
    <add key="BasePublic" value="http://127.0.0.1:80/CashFlow.API/v2/public/" />
    <add key="BaseAPI" value="http://127.0.0.1:80/CashFlow.API/v2/integration/" />
    <add key="RequestTimeOut" value="100000" />
    <add key="ThirdPartyRequestSecret" value="3!n913t0np4r%" />
    <add key="ThirdPartyRequestId" value="QWJpYTMvMTEvMjAxOCA3OjQwOjM4IFBN" />
    <add key="ThirdPartyAppName" value="CentralBillingSystem" />
  </cashFlowSettings>

  <CBSTenantHandler>
    <add key="BasePublic" value="SD" />
    <add key="KADUNA" value="Parkway.CBS.Integration.Kaduna.KadunaCBSHandler" />
  </CBSTenantHandler>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <pages pageBaseType="Orchard.Mvc.ViewEngines.Razor.WebViewPage">
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Linq" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Orchard.Mvc.Html" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <system.transactions>
    <defaultSettings timeout="00:30:00" />
  </system.transactions>
  <system.web>
    <!--<sessionState cookieName="cbs_session" />-->
    <!-- Accept file uploads up to 64 MB. -->
    <!-- Accept file uploads up to 100 MB. -->
    <!--<httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" maxRequestLength="65536" />-->
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" maxRequestLength="102400" />
    <!-- 2048 KB/2 MB per file. -->
    <compilation debug="true" targetFramework="4.5.2" batch="true" numRecompilesBeforeAppRestart="250" optimizeCompilations="true">
      <buildProviders>
        <add extension=".csproj" type="Orchard.Environment.Extensions.Compilers.CSharpExtensionBuildProviderShim" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Mvc, Version=5.2.3, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.Owin.Host.SystemWeb, Version=3.0.0.0" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <remove assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.ServiceModel.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.WorkflowServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Users/Account/AccessDenied" timeout="2880" />
    </authentication>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/Error/NotFound"/>
      <error statusCode="500" redirect="~/Error/NotFound"/>
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Linq" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Orchard.Mvc.Html" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>

    <!-- Prevent IIS from only allowing integrated mode configuration. -->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="OutputCache" />
      <remove name="WarmupHttpModule" />
      <add name="WarmupHttpModule" type="Orchard.WarmupStarter.WarmupHttpModule, Orchard.WarmupStarter, Version=1.10, Culture=neutral" />
      <!--<add name="ParkwayWebModule" type="Parkway.CBS.Web.ParkwayWebModule, Parkway.CBS.Web" />-->
    </modules>
    <handlers accessPolicy="Script">
      <!-- Clear all handlers, prevents executing code file extensions or returning any file contents. -->
      <clear />
      <!-- Return 404 for all requests via a managed handler. The URL routing handler will substitute the MVC request handler when routes match. -->
      <add name="NotFound" path="*" verb="*" type="System.Web.HttpNotFoundHandler" preCondition="integratedMode" requireAccess="Script" />
      <!-- WebApi -->
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />

      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- Prevent IIS 7.0 from returning a custom 404/500 error page of its own. -->
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <!-- Accept file uploads up to 64 MB. -->
        <requestLimits maxAllowedContentLength="4199108864" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".mp3" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".pdf" />
      <mimeMap fileExtension=".pdf" mimeType="application/pdf" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>



  </system.webServer>

  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="App_Data/Dependencies" />
      <dependentAssembly>
        <!-- 1.0.1.0 by NHibernate.Linq, Version=0.0.0.0 -->
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <!-- 3.3.1.4000 by NHibernate.Linq, Version=0.0.0.0 -->
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <!-- 2.0.0.0 by System.Data.SqlServerCe, Version=4.0.0.0 -->
        <assemblyIdentity name="System.Transactions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <!-- 2.0.0.0 by System.Data.SqlServerCe, Version=4.0.0.0 -->
        <assemblyIdentity name="System.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
	  <bindings>
		  <basicHttpBinding>
			  <binding name="ThirdpartyServicePortBinding" />
        <binding name="IdentitySearchPortBinding" />
		  </basicHttpBinding>
	  </bindings>
	  <client>
		   <endpoint address="http://62.173.32.28:8080/ws/vams"
                 binding="basicHttpBinding" bindingConfiguration="ThirdpartyServicePortBinding"
                 contract="ReadyCashService.ThirdpartyService"
			           name="ThirdpartyServicePort" />
	     <endpoint address="http://10.254.253.19:8080/nvs/IdentitySearch"
                binding="basicHttpBinding" bindingConfiguration="IdentitySearchPortBinding"
                contract="NationalIdentityVerifcationSystem.IdentitySearch"
                name="IdentitySearchPort" />
	  </client> 
    </system.serviceModel>
</configuration>