<ul class="nav">
    <li>
        <a href="/Paye.aspx"><i class="fa fa-angle-right"></i> PAYE</a>
    </li>
    <li>
        <a href="/DirectAssessment.aspx"><i class="fa fa-angle-right"></i> Direct Assessment </a>
    </li>
    <li>
        <a href="/ConsumptionTax.aspx"><i class="fa fa-angle-right"></i> Consumption Tax </a>
    </li>
    <li>
        <a href="/BusinessPremises.aspx"><i class="fa fa-angle-right"></i> Business Premises </a>
    </li>
    <li>
        <a href="/LandUseCharge.aspx"><i class="fa fa-angle-right"></i> Land Use Charge</a>
    </li>
    <li>
        <a href="/WitholdingTax.aspx"><i class="fa fa-angle-right"></i> Withholding Tax</a>
    </li>
    <li>
        <a href="/WasteManagement.aspx"><i class="fa fa-angle-right"></i> Waste Management </a>
    </li>
    <li>
        <a href="/PoolsBetting.aspx"><i class="fa fa-angle-right"></i> Pools & Betting </a>
    </li>
    <li>
        <a href="/VehicleRegistration.aspx"><i class="fa fa-angle-right"></i> Vehicle Registration </a>
    </li>
    <li>
        <a href="/CapitalGains.aspx"><i class="fa fa-angle-right"></i> Capital Gains </a>
    </li>
    <li>
        <a href="/LogProduce.aspx"><i class="fa fa-angle-right"></i> Log Produce </a>
    </li>
    <li>
        <a href="/PresumptiveTax.aspx"><i class="fa fa-angle-right"></i> Presumptive Tax </a>
    </li>
    <li>
        <a href="/StampDuty.aspx"><i class="fa fa-angle-right"></i> Stamp Duty </a>
    </li>
</ul>
