<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="parkway.tools.nhibernate" type="Parkway.Tools.NHibernate.Cfg.NHibernateConfigurationSection, Parkway.Tools.NHibernate" />
    <section name="SchedulerCollection" type="Parkway.Scheduler.Interface.Schedulers.SchedulerCollection, Parkway.Scheduler.Interface"/>
    <section name="ScheduleImplementation" type="System.Configuration.NameValueSectionHandler"/>
    <section name="LoggerCollection" type="CentralBillingSystemSchedulingWinService.Loggers.LoggerCollection, CentralBillingSystemSchedulingWinService"/>
    <section name="SchedulerLoggerCollection" type="Parkway.Scheduler.Interface.Loggers.SchedulerLoggerCollection, Parkway.Scheduler.Interface"/>
    <!--<sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>-->
  </configSections>

  <SchedulerCollection>
    <SchedulerItem Name="Abia_BillingScheduler" Active="true" Endpoint="http://temp.cbs/api/v1/integration/schedule" ClientToken="QWJpYTIvMjIvMjAxOCA2OjQ1OjM4IFBN" ClientSecret="3FW7uESMMDEa/gEIhf5W3WkkJqjk5I1iN0QWat0I0h2lBTlVuUTIZvC7gkq0">
      <add key="quartz.scheduler.instanceName" value="Abia_BillingScheduler"/>
      <add key="quartz.scheduler.instanceId" value="AUTO"/>
      <add key="quartz.threadPool.threadCount" value="10"/>
      <add key="quartz.threadPool.threadPriority" value="Normal"/>
      <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"></add>
      <add key="quartz.jobStore.misfireThreshold" value="60000"/>
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz"/>
      <add key="quartz.jobStore.useProperties" value="true"/>
      <add key="quartz.jobStore.dataSource" value="default"/>
      <add key="quartz.jobStore.tablePrefix" value="QRTZ_"/>
      <add key="quartz.jobStore.clustered" value="false"/>
      <add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.SimpleSemaphore, Quartz"/>
      <add key="quartz.jobStore.selectWithLockSQL" value="SELECT * FROM {0} LOCKS UPDLOCK WHERE LOCK_NAME = @ lockName"/>
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz"/>
      <add key="quartz.dataSource.default.connectionString" value="Data Source=(local);Initial Catalog=CentralBillingSystemQuartzDatabase;User ID=sa;Password=password01"/>
      <add key="quartz.dataSource.default.provider" value="SqlServer"/>
      <add key="quartz.serializer.type" value="binary"/>
    </SchedulerItem>
    <SchedulerItem Name="KADIRS_BillingScheduler" Active="true" Endpoint="http://temp.cbs/api/v1/integration/sch" ClientToken="QWJpYTIvMjIvMjAxOCA2OjQ1OjM4IFBN" ClientSecret="3FW7uESMMDEa/gEIhf5W3WkkJqjk5I1iN0QWat0I0h2lBTlVuUTIZvC7gkq0">
      <add key="quartz.scheduler.instanceName" value="KADIRS_BillingScheduler"/>
      <add key="quartz.scheduler.instanceId" value="AUTO"/>
      <add key="quartz.threadPool.threadCount" value="10"/>
      <add key="quartz.threadPool.threadPriority" value="Normal"/>
      <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"></add>
      <add key="quartz.jobStore.misfireThreshold" value="60000"/>
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz"/>
      <add key="quartz.jobStore.useProperties" value="true"/>
      <add key="quartz.jobStore.dataSource" value="default"/>
      <add key="quartz.jobStore.tablePrefix" value="QRTZ_"/>
      <add key="quartz.jobStore.clustered" value="false"/>
      <add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.SimpleSemaphore, Quartz"/>
      <add key="quartz.jobStore.selectWithLockSQL" value="SELECT * FROM {0} LOCKS UPDLOCK WHERE LOCK_NAME = @ lockName"/>
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz"/>
      <add key="quartz.dataSource.default.connectionString" value="Data Source=(local);Initial Catalog=CentralBillingSystemQuartzDatabase;User ID=sa;Password=password01"/>
      <add key="quartz.dataSource.default.provider" value="SqlServer"/>
      <add key="quartz.serializer.type" value="binary"/>
    </SchedulerItem>
  </SchedulerCollection>
  
  <LoggerCollection>
    <LoggerItem Name="Serilog" Enabled="true" LogPath="C:\Parkway\CBS\src\Orchard.Web\App_Data\Logs"></LoggerItem>
    <LoggerItem Name="Log4Net" Enabled="false" LogPath=""></LoggerItem>  
  </LoggerCollection>

  <SchedulerLoggerCollection>
    <LoggerItem Name="Serilog" Enabled="true" LogPath="C:\Parkway\CBS\src\Orchard.Web\App_Data\Logs"></LoggerItem>
    <LoggerItem Name="Log4Net" Enabled="false" LogPath=""></LoggerItem>
  </SchedulerLoggerCollection>

  <ScheduleImplementation>
    <add key="Quartz" value="true"/>
    <!--<add key="HangFire" value="false"/>-->
  </ScheduleImplementation>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <parkway.tools.nhibernate configSource="Parkway.Nhibernate.Cfg.xml"></parkway.tools.nhibernate>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
