
@{
    ViewBag.Title = "Assessment Rule";
    Layout = "~/Views/Shared/_EIRSInnerDetailsLayout.cshtml";
}
<div class="title">
    <h1>
        Assessment Rule
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Un-billed Assessment Rule
        </div>
        <div class="actions">
            <a href="" class="btn btn-redtheme"> Generate Assessment Rule </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-bordered v-middle" id="tblMDAList">
            <thead class="red-th">
                <tr>
                    <th>Service Year</th>
                    <th>Service Name</th>
                    <th>Service Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2017</td>
                    <td>Name</td>
                    <td>100</td>
                    <td>
                        <input type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td>Name</td>
                    <td>100</td>
                    <td>
                        <input type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



