
@{
    Layout = "~/Views/Shared/_EIRSHomePageLayout.cshtml";
    ViewBag.Title = "ErrorPage";
}

 
<div class="housing">
      
    <div class="card-amount">
        <p class="error-code">@ViewBag.ResponseCode</p>
         
        <p class="error-message">@ViewBag.ErrorMessage</p>
    </div>
     
</div>