
@{
    ViewBag.Title = "Search Tax Payer";
    Layout = "~/Views/Shared/_EIRSInnerDetailsLayout.cshtml";
}

<div class="title">
    <h1>
        Special Tax Payer
    </h1>
    <hr>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            Add New Special
        </div>
        <div class="actions">
            <a href="~/Home/SpecialCapture" class="btn btn-redtheme"> Cancel </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Tax Payer Type </label>
                    <input type="text" disabled class="form-control" placeholder="Special" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label required-star">Special Name</label>
                    <input type="text" class="form-control" placeholder="Enter Special Name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">TIN</label>
                    <input type="text" class="form-control" placeholder="Enter TIN" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label required-star">Phone 1</label>
                    <input type="text" class="form-control" placeholder="Enter Phone 1" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Phone 2</label>
                    <input type="text" class="form-control" placeholder="Enter Phone2" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Email Address 1</label>
                    <input type="text" class="form-control" placeholder="Enter Email Address 1" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label required-star">Tax Office</label>
                    <select class="form-control bs-select">
                        <option> Select Tax Office </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Preferred Notification</label>
                    <select class="form-control bs-select">
                        <option> Select Preferred Notification </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-right col-sm-12">
                <div class="form-group">
                    <br />
                    <a href="SpecialDetail.html" class="btn-theme btn"> Save </a>
                </div>
            </div>
        </div>
    </div>
</div>


