
@{
    ViewBag.Title = "EIRS Partnerships";
    Layout = "~/Views/Shared/_EIRSHomePageLayout.cshtml";
}
<section class="alternate">
    <div class="container">
        <div class="title">
            <h1>
                EIRS Partnerships
            </h1>
            <hr>
            <p>
                EIRS Partners
            </p>
        </div>

        <div class="row custom-tabs">
            <div class="col-sm-3">
                <div class="portlet light compressed-menu">
                    <div class="portlet-title">
                        <div class="caption">
                            Partnerships
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="nav">
                            @*<li>
                                <a><i class="fa fa-angle-right"></i>  Managed Menu</a>
                            </li>*@
                            @*/Partnership/managed-menu.aspx*@
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="portlet light">
                    <div class="portlet-body text-justify">
                        <div class="portlet-title" style="border-bottom: 1px solid rgb(238, 238, 238); padding: 0px; margin-bottom: 10px; min-height: 48px; border-radius: 2px 2px 0px 0px; font-family: &quot;Century Gothic&quot;, Arial, sans-serif; font-size: 14px;"><div class="caption" style="float: left; display: inline-block; font-size: 16px; line-height: 18px; padding: 10px 0px; color: rgb(192, 0, 1); font-weight: 700;">EIRS Partnerships</div></div><div class="portlet-body text-justify" style="clear: both; border-radius: 0px 0px 2px 2px; font-family: &quot;Century Gothic&quot;, Arial, sans-serif; font-size: 14px;">
                            <p style="word-spacing:8px;line-height: 30px;">
                                As part of the strategy to have in place the requisite manpower and
                                expertise, the EIRS set up a Tax Training Institute where members of staff
                                undergo various forms of professional training internally with resource
                                persons drawn from within and outside the Service. The existence of
                                this Institute is also geared towards professionalizing the Service.
                                The manpower development and training programme have opened the
                                door of opportunities to young people to acquire professional knowledge
                                on tax and revenue administration matters, thereby helping to guarantee
                                a pool of dedicated and committed staff population that the EIRS can
                                always draw from. The EIRS can also boast of having well over 30 members of staff at Management level who are Members/Fellows of
                                different professional bodies such as: the Chartered Institute of Taxation
                                of Nigeria (CITN), Institute of Chartered Accountants of Nigeria
                                (ICAN), Nigerian Bar Association (NBA), and Nigerian Institute of
                                Management (NIM) etc.
                                The EIRS, on an annual basis sponsor Middle and Senior Management
                                Staff to attend Seminars, Conferences and Mandatory Training
                                programmes to update their knowledge and skills, in line with international
                                best practices and innovation in tax and revenue administration<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>