
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Seed Economic Activities</title>
</head>
<body>
    <div> 
        <p> Economic Activities Table has been successfully seeded</p>
    </div>
</body>
</html>
