
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Seed Revenue Sub Stream</title>
</head>
<body>
    <div> 
        <p>Revenue Sub Stream Seeded Successfully</p>
    </div>
</body>
</html>
