@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_EIRSHomePageLayout.cshtml";
}
<section class="alternate">
    <div class="container">

        <div class="title">
            <h1>
                Contact Us
            </h1>
            <hr>
            <p>
                Contact Us
            </p>
        </div>

        <div class="row custom-tabs">
            <div class="col-sm-3">
                <div class="portlet light compressed-menu">
                    <div class="portlet-title">
                        <div class="caption">
                            Support
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul class="nav"></ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="portlet light">
                    <div class="portlet-body text-justify">
                        <p><b>E-mail:</b> <a href="mailto:customercare@eirs.gov.ng">customercare@eirs.gov.ng</a></p><p><b>Phone No:</b>&nbsp;0813 097 0146</p><p style="text-align: left;"><b>Office Address:</b> &nbsp;&nbsp;80, New Lagos Road, New Benin, Benin City, Edo State.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>