
@{
    ViewBag.Title = "TaxPayerGovernments";
    Layout = "~/Views/Shared/_EIRSHomePageLayout.cshtml";
}

<div class="title">
    <h1>
        Welcome to Tax Payers Section
    </h1>
    <hr>
    <p>
        This section covers information relating to tax assets, different types and importance
    </p>
</div>

<div class="row custom-tabs">
    <div class="col-sm-3">
        <div class="portlet light compressed-menu">
            <div class="portlet-title">
                <div class="caption">
                    Tax Payer
                </div>
            </div>
            <div class="portlet-body">
                <ul class="nav">
                    <li>
                        <a href="~/Home/TaxPayerCompanies"><i class="fa fa-angle-right"></i> Companies</a>
                    </li>
                    <li>
                        <a href="~/Home/TaxPayerIndividuals"><i class="fa fa-angle-right"></i> Individuals </a>
                    </li>
                    <li class="active">
                        <a href="~/Home/TaxPayerGovernments"><i class="fa fa-angle-right"></i> Governments </a>
                    </li>
                    <li>
                        <a href="~/Home/TaxPayerSpecial"><i class="fa fa-angle-right"></i> Special </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    Government Tax Payers
                </div>
            </div>
            <div class="portlet-body text-justify">
                <p>
                    Government bodies and parastatals who operate from within Edo State are classified as separate tax payers
                </p>

                <div class="btn-custom-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="" class="btn btn-theme btn-block btn-outline"> PAYE <i class="icon-arrow-right"></i> </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="" class="btn btn-theme btn-block btn-outline"> WITHHOLDING TAX <i class="icon-arrow-right"></i>  </a>
                        </div>
                    </div>

                </div>

                <div class="btn-custom-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="" class="btn btn-theme btn-block"> GOVERNMENT CAPTURE <i class="icon-arrow-right"></i> </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="" class="btn btn-theme btn-block"> MDA SERVICES FOR GOVERNMENTS <i class="icon-arrow-right"></i>  </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
