    @*<div class="credits">*@
         <span class="credits"><i class="glyphicon glyphicon-copyright-mark"></i>
            <a href="@Href("~/")">@WorkContext.CurrentSite.SiteName</a>           
            @System.DateTime.UtcNow.Year
        </span>
    @*</div>*@